.section {
  width: 100%;
  background: rgb(13,17,37);
  background: linear-gradient(360deg, #0D1125 0%, rgba(13, 17, 37, 0) 40.45%);
  color: var(--white);
  font-family: "Outfit", sans-serif;
  font-weight: normal;
  font-style: normal;
  position: relative;
  z-index: 5;
}
.block{
  height: 100%;
  width: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1.59fr 1.11fr 1fr;
  padding-bottom: 40px;
}


.text{
  padding-right: 3em;
}

.title{
  display: flex;
  align-items: center;
  width: fit-content;
  & svg {
    width: 90%;
  }

}



.block div:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 4;

}

.block div:nth-child(2) {
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 3;
}

.block div:nth-child(3) {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 4;
  grid-column-end: 5;
}
.block div:nth-child(4) {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 4;

}
.block div:nth-child(5) {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 4;
  grid-column-end: 5;
}

.ukrainianMap {
  position: absolute;
  z-index: -5;
  top: 0;
  right: 0;
  width: 70%;
}

.text.desktopSmall{
  padding-right: 5px;
  /* font-size: 24px; */
}

.block.desktopSmall {
  height: fit-content;
  width: fit-content;
  align-content: start;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: 1fr 1.65fr;
  padding: 9vh 0;

  & div:nth-last-child(-n+3){
    padding: 18px;
    /* border: 1px solid red; */
  }
  & div:nth-last-child(-n+3) h5{
    /* font-size: 18px; */
  }
}
.block.desktopSmall div:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 3;
  /* display: grid; */
  & svg{
    /* align-items: stretch; */
    max-height: 100%;
    width: 100%;
  }
}

.block.desktopSmall div:nth-child(2) {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
  padding-top: 40px;
}

.block.desktopSmall div:nth-child(3) {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 3;
  grid-column-end: 5;
  flex-direction: row-reverse;
  justify-content: space-between;

  & h5{
    width: 20vw;
  }
}
.block.desktopSmall div:nth-child(4) {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 4;
  justify-content: unset;
  align-self: flex-start;


}
.block.desktopSmall div:nth-child(5) {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 4;
  grid-column-end: 5;

}
.block.tabletLarge {
  height: fit-content;
  width: fit-content;
  align-content: start;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: 1fr 1.65fr;
  padding: 9vh 0;

  & div:nth-last-child(-n+3){
    padding: 18px;
    /* border: 1px solid red; */
  }
  & div:nth-last-child(-n+3) h5{
    font-size: 18px;
  }
}
.text.tabletLarge{
  padding-right: 5px;
  font-size: 24px;
}