.teamCard {
  display: flex;
  flex-direction: column;
  border-left: var(--greyBorder);
  border-top: var(--greyBorder);
  border-bottom: var(--greyBorder);
}

.container {
  box-sizing: content-box;
  border-left: 1px solid rgba(255, 255, 255, 0.24);
  border-right: 1px solid rgba(255, 255, 255, 0.24);
  padding: 2rem 1rem;
  flex-grow: 1;
}

.black {
  color: var(--black);
}

.teacherImage {
  object-fit: cover;
  width: 100%;
}

.linksList {
  display: flex;
  min-height: 33px;
  justify-content: space-between;
  & a svg {
    width: 32px;
    height: 32px;
  }
}

.placeholder {
  max-width: 32px;
  height: 32px;
}

h5.name {
  font-weight: 700;
  margin-top: 24px;
}

.position {
  margin-top: 24px;
}

/* @media screen and (max-width: 1920px) {
} */
/* beforeTablet */
@media screen and (max-width: 1366px) {
  /* .name {
    font-weight: 700;
    margin-top: 24px;
  }
  .container {
    padding: 16px;
  }

  .position {
    margin-top: 8px;
  } */
}
