.section {
  width: 100%;
  background-color: var(--pink);
  display: flex;

}
.block{
  display: flex;
  align-items: center; 
  color: var(--white);
  gap: 40px;
}

.title{
  flex: 1 1 50%;
  & svg{
    width: 100%;
    height: 100%;
  }
}
.text{
  flex: 1 1 50%;

}
.colorModBlack{
  color: var(--black);
}

.title.tablet{
  flex: 1 1 60%;
  & svg{
    width: 100%;
    height: 100%;
  }
}

.title.mobile{
  width: 86.667vw;

}

@media screen and (max-width: 900px) {
  .block{
    flex-direction: column;
    margin-top: 60px;
  }
}