.section {
  display: grid;
  grid-template-rows: 34.375vw 21.875vw;
  background-color: var(--black);
}

.block {
  padding: 16.923vh var(--sectionPaddingRight) 0 var(--sectionPaddingLeft);
  display: flex;

}

.colorBlock {
  background-color: var(--pink);
}

/* .counters {
  display: flex;
} */


.title {
  justify-content: flex-end;
  /* margin-right: 3.906vw; */
}

