.section:global(.section) {
  min-height: auto;
}
.section:global(.section.showText) {
  & .counter:global(.textContainer) {
    & * {
      transform: translateY(0);
    }
  }
}

.block {
  display: flex;
  gap: 1rem;
}

.leftBlock {
  align-self: flex-end;
  min-width: 200px;
  flex: 1 1 35%;
  overflow: hidden;
}

.countBlock {
  flex: 1 1 60%;
  display: flex;
  align-items: flex-end;
}

.counter {
  display: flex;
  flex-direction: row-reverse;
  transform: rotate(180deg);
  transform-origin: center;
  white-space: nowrap;
  align-items: flex-start;
  border-left: 4px solid var(--pink);
  flex: 1 1 24%;
  justify-content: center;

  &:first-of-type {
    padding-bottom: 40px;
  }
  &:nth-of-type(2) {
    padding-bottom: 148px;
  }
  &:nth-of-type(3) {
    border-left: none;
  }
  &:last-of-type {
    padding-bottom: 40px;
    background-color: var(--pink);
  }

  &:global(.textContainer) {
    & * {
      transform: translateY(-100vh);
    }
  }
}

.bigNumb {
  writing-mode: vertical-lr;
  /* font-size: calc(52px + 82 * ((100vw - 1366px) / 1194)); */
  font-size: 134px;
  line-height: 100%;
  font-weight: 600;
}

/* .counter:hover {
  background-color: var(--pink);
  transition: all var(--transitionProps);
} */

.title {
  writing-mode: vertical-lr;
  align-self: flex-start;
}
.numb {
  writing-mode: vertical-lr;
}

/* desktop */
@media screen and (max-width: 1920px) {
  .counter {
    &:nth-of-type(2) {
      padding-bottom: 225px;
    }
    &:last-of-type {
      padding-bottom: 40px;
    }
  }
  .bigNumb {
    font-size: 104px;
  }
}

/* beforeTablet */
@media screen and (max-width: 1366px) {
  .counter {
    &:first-of-type {
      padding-bottom: 82px;
    }
    &:nth-of-type(2) {
      padding-bottom: 158px;
    }
    &:last-of-type {
      padding-bottom: 100px;
    }
  }
  .bigNumb {
    font-size: 52px;
  }
}

/* tablet */
@media screen and (max-width: 1180px) {
  .block {
    gap: 117px;
    flex-direction: column;
  }
  .leftBlock:global(.textContainer) {
    max-width: 65%;
  }
}

/* phobe */
@media screen and (max-width: 480px) {
  .bigNumb {
    font-size: 45px;
    line-height: 100%;
  }
  .counter {
    &:first-of-type {
      padding-bottom: 82px;
    }
    &:nth-of-type(2) {
      padding-bottom: 158px;
    }
    &:last-of-type {
      padding-bottom: 180px;
    }
  }
  .section:global(.section) {
    padding-bottom: 0;
  }
}
