/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.section:global(.section) {
  min-height: auto;
  background: linear-gradient(360deg, #0d1125 0%, rgba(13, 17, 37, 0) 40.45%);
}
.section:global(.section.showText) {
  & .counter:global(.textContainer) {
    & * {
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
  }
}

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.leftBlock {
  align-self: flex-end;
  min-width: 556px;
  flex: 1 1 556px;
  overflow: hidden;
  &.ukrainian {
    min-width: 670px;
    flex-basis: 670px;
  }
}

.date {
  text-align: right;
}

.countBlock {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 60%;
  flex: 1 1 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  white-space: nowrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-left: 4px solid var(--pink);
  -webkit-box-flex: 1;
  -ms-flex: 1 1 24%;
  flex: 1 1 24%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  &:first-of-type {
    padding-bottom: 40px;
  }
  &:nth-of-type(2) {
    padding-bottom: 138px;
  }
  &:nth-of-type(3) {
    padding-bottom: 146px;
  }
  &:nth-of-type(4) {
    border-left: none;
  }
  &:last-of-type {
    padding-bottom: 40px;
    background-color: var(--pink);
  }

  &:global(.textContainer) {
    & * {
      -webkit-transform: translateY(-100vh);
      -ms-transform: translateY(-100vh);
      transform: translateY(-100vh);
    }
  }

  &.ukrainian {
    &:first-of-type {
      padding-bottom: 40px;
    }
    &:nth-of-type(2) {
      padding-bottom: 0;
    }
    &:nth-of-type(3) {
      padding-bottom: 275px;
    }

    &:last-of-type {
      padding-bottom: 40px;
    }
  }
}

.bigNumb {
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  /* font-size: calc(52px + 82 * ((100vw - 1366px) / 1194)); */
  font-size: 134px;
  line-height: 100%;
  font-weight: 600;
}

/* .counter:hover {
  background-color: var(--pink);
  transition: all var(--transitionProps);
} */

.title {
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  -ms-flex-item-align: start;
  align-self: flex-start;
}
.numb {
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
}

@media screen and (max-width: 2200px) {
  .leftBlock {
    &.ukrainian {
      min-width: 565px;
      flex-basis: 565px;
    }
  }
}

/* desktop */
@media screen and (max-width: 2000px) {
  .leftBlock {
    min-width: 438px;
    flex-basis: 438px;
  }
  .counter {
    &:first-of-type {
      padding-bottom: 28px;
    }
    &:nth-of-type(2) {
      padding-bottom: 190px;
    }
    &:nth-of-type(3) {
      padding-bottom: 248px;
    }
    &.ukrainian {
      &:first-of-type {
        padding-bottom: 34px;
      }
      &:nth-of-type(2) {
        padding-bottom: 28px;
      }
      &:nth-of-type(3) {
        padding-bottom: 212px;
      }
      &:last-of-type {
        padding-bottom: 38px;
      }
    }
  }
  .bigNumb {
    font-size: 104px;
  }
}

@media screen and (max-width: 1800px) {
  .leftBlock {
    &.ukrainian {
      min-width: 455px;
      flex-basis: 455px;
    }
  }
}

@media screen and (max-width: 1600px) {
  .leftBlock {
    min-width: 220px;
    flex-basis: 220px;
    &.ukrainian {
      min-width: 350px;
      flex-basis: 350px;
    }
  }
}

@media screen and (max-width: 1400px) {
  .leftBlock {
    &.ukrainian {
      min-width: 300px;
      flex-basis: 300px;
    }
  }
}

/* beforeTablet */
@media screen and (max-width: 1366px) {
  .counter {
    &:first-of-type {
      padding-bottom: 77px;
    }
    &:nth-of-type(2) {
      padding-bottom: 154px;
    }
    &:nth-of-type(3) {
      padding-bottom: 118px;
    }
    &:last-of-type {
      padding-bottom: 57px;
    }
    &.ukrainian {
      &:first-of-type {
        padding-bottom: 0;
      }
      &:nth-of-type(2) {
        padding-bottom: 0;
      }
      &:nth-of-type(3) {
        padding-bottom: 145px;
      }
      &:last-of-type {
        padding-bottom: 55px;
      }
    }
  }
  .bigNumb {
    font-size: 52px;
  }
}

/* tablet */
@media screen and (max-width: 1180px) {
  .block {
    gap: 117px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .leftBlock:global(.textContainer) {
    max-width: 65%;
    flex-basis: auto;
  }
}

/* phobe */
@media screen and (max-width: 480px) {
  .bigNumb {
    font-size: 45px;
    line-height: 100%;
  }
  .counter {
    &:first-of-type {
      padding-bottom: 77px;
    }
    &:nth-of-type(2) {
      padding-bottom: 154px;
    }
    &:nth-of-type(3) {
      padding-bottom: 160px;
    }
    &:last-of-type {
      padding-bottom: 120px;
    }
    &.ukrainian {
      &:first-of-type {
        padding-bottom: 0;
      }
      &:nth-of-type(2) {
        padding-bottom: 55px;
      }
      &:nth-of-type(3) {
        padding-bottom: 143px;
      }
      &:last-of-type {
        padding-bottom: 104px;
      }
    }
  }
  .section:global(.section) {
    padding-bottom: 0;
    padding-left: 5px;
    padding-right: 0;
  }
  .leftBlock:global(.textContainer).ukrainian {
    max-width: 90%;
    margin: 0 auto;
  }
}

// .bigNumb {
//   font-size: calc(40px + 92 * ((100vw - 480px) / 2080));
// }
