.button {
  -webkit-appearance: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 16px 24px;
  background-color: transparent;
  border: 1px solid var(--white);
  color: var(--white);
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-transition:
    background-color var(--transitionProps),
    border var(--transitionProps),
    color var(--transitionProps);
  -o-transition:
    background-color var(--transitionProps),
    border var(--transitionProps),
    color var(--transitionProps);
  transition:
    background-color var(--transitionProps),
    border var(--transitionProps),
    color var(--transitionProps);
}

.button.pink {
  border: 1px solid var(--pink);
  background-color: var(--pink);
}

.button.black {
  border: 1px solid var(--dark-blue);
  background-color: var(--dark-blue);
}

.button.emptyBlack {
  border: 1px solid var(--dark-blue);
  background-color: transparent;
  color: var(--dark-blue);
}

/* hovers */
@media screen and (min-width: 480px) {
  .button {
    &:hover {
      color: var(--dark-blue);
      border: 1px solid var(--dark-blue);
      -webkit-transition:
        background-color var(--transitionProps),
        border var(--transitionProps),
        color var(--transitionProps);
      -o-transition:
        background-color var(--transitionProps),
        border var(--transitionProps),
        color var(--transitionProps);
      transition:
        background-color var(--transitionProps),
        border var(--transitionProps),
        color var(--transitionProps);
    }
  }

  .button.pink {
    &:hover {
      color: var(--white);
      border: 1px solid var(--dark-blue);
      background-color: var(--dark-blue);
    }
  }

  .button.black {
    &:hover {
      border: 1px solid var(--white);
      background-color: var(--white);
      color: var(--pink);
    }
  }

  .button.emptyBlack {
    &:hover {
      border: 1px solid var(--pink);
      color: var(--pink);
    }
  }
}
