.section {
  background-color: var(--black);
  padding: 144px 0px;

  width: 1525px;
  height: 1268px;
}

.font {
  width: 1016px;
  height: 194px;

  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 600;
  font-size: 132px;
  line-height: 94px;
  /* or 71% */

  text-align: right;

  /* White */

  color: #FFFFFF;
}

.fontItalica {
  font-style: italic;
}