.section {
  color: var(--white);
  padding-bottom: 6rem;
  padding-top: 140px;
}

#veterans {
  padding-right: 0;
}

.sliderWrapper {
  position: relative;
}

.sliderCard {
  display: flex;
  padding: 0 5px;
}

.leftSide {
  flex: 1 1 55%;
  & img {
    width: 100%;
    object-fit: cover;
  }
}

.rightSide {
  flex: 1 45%;
}

.ageRank {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.56);
}

.veteranLogo {
  margin-top: 1.5rem;
  max-width: 75%;
}

.cardTitle {
  margin-top: 2.5rem;
}

.cardText {
  margin-top: 1.5rem;
}

.shareMe {
  /* display: none; */
  margin-top: 3rem;
  & span {
    color: rgba(255, 255, 255, 0.56);
  }
}

.buttonsList {
  margin-top: 1.5rem;
  display: flex;
  gap: 2rem;
}

.photo {
}

.nextSlideButton {
  background-color: var(--pink);
  border-radius: 1rem;
  font-size: 20px;
  line-height: 32px;
  padding: 0 1.5rem;
  color: var(--white);
  width: 100%;
  max-width: 120px;
  position: absolute;
  bottom: -4rem;
  /* bottom: 0; */
}

@media screen and (max-width: 1180px) {
  #veterans {
    padding-top: 140px;
  }
  .rightSide {
    flex: 1 1 50%;
  }
  .leftSide {
    flex: 1 1 50%;
  }
}
