.section:global(.section) {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
  background-blend-mode: normal, screen;
  padding-bottom: 80px;
}

.logo path {
  fill: var(--black);
}

.container {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 var(--paddingVW);
  border-bottom: 1px solid rgba(0, 0, 0, 0.24);
  justify-content: center;
  & div {
    flex: 1 1 45%;
  }
  &:first-of-type .membersContainer {
    justify-content: flex-start;
  }
}

.membersContainer {
  display: flex;
  justify-content: center;
  padding: 0 0.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.24);
  &.scrollable {
    overflow-x: auto;
    padding-left: 22rem;
  }
  &:nth-of-type(3) {
    padding: 0 var(--paddingVW);
  }
}

@media screen and (max-width: 1180px) {
  .section:global(.section) {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
    background-blend-mode: normal, screen;
    padding-left: 0;
    padding-right: 0;
  }
  .container {
    padding-left: var(--headerPaddingSide);
    padding-right: var(--headerPaddingSide);
  }
  .membersContainer {
    &:nth-of-type(3) {
      padding-left: var(--headerPaddingSide);
      padding-right: calc(var(--headerPaddingSide) + 65px);
    }
  }

  .container {
    flex-direction: column;
    gap: 80px;
  }
}

/* phone */
@media screen and (max-width: 480px) {
  .membersContainer {
    &:nth-of-type(3) {
      padding: 0 0.5rem 0 22rem;
    }
  }
}
