.section {
  padding-top: 120px;
  padding-bottom: 120px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;

  z-index: 1;
}

.overlay {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--black);
  opacity: 80%;
}

.left {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 2 560px;
  max-width: 560px;
  z-index: 2;
}

.title {
  margin-bottom: 10px;
  width: 100%;
  max-width: 394px;
}

.date {
  color: var(--white);
}

.text {
  margin-top: 40px;
}

.buttonsContainer {
  margin-top: 60px;
  display: flex;
  gap: 16px;
}
.right {
  position: relative;
  z-index: 1;
  flex: 1 1 780px;
  max-width: 780px;

  display: grid;

  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(3, 210px);

  grid-template-areas:
    '. . prostheses prostheses prostheses clinicsOpened clinicsOpened clinicsOpened'
    'patients patients patients patients specialistsTrained specialistsTrained specialistsTrained specialistsTrained'
    '. . spentOnMission spentOnMission spentOnMission spentOnMission spentOnMission spentOnMission';
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 32px 40px;
  width: 100%;
  height: 100%;

  transition: all var(--transitionProps);

  border: var(--protezBorder);

  color: var(--white);

  & .count {
    font-size: 76px;
    font-style: normal;
    font-weight: 800;
    line-height: 80px; /* 105.263% */
    text-transform: uppercase;
  }

  &:hover {
    background-color: var(--red);
  }

  &:nth-child(1) {
    grid-area: prostheses;
  }

  &:nth-child(2) {
    grid-area: clinicsOpened;
  }

  &:nth-child(3) {
    grid-area: patients;
  }

  &:nth-child(4) {
    grid-area: specialistsTrained;
  }

  &:nth-child(5) {
    grid-area: spentOnMission;
    background-color: var(--red);
  }
}

@media screen and (max-width: 1366px) {
  .card {
    & .count {
      font-size: 56px;
    }
  }
}

@media screen and (max-width: 1180px) {
  .section {
    padding-top: 80px;
    padding-bottom: 80px;

    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 40px;
  }

  .left {
    flex-basis: 100%;
  }

  .right {
    flex-basis: 100%;
    max-width: 100%;

    grid-template-areas:
      'prostheses prostheses prostheses clinicsOpened clinicsOpened clinicsOpened clinicsOpened .'
      'patients patients patients patients specialistsTrained specialistsTrained specialistsTrained specialistsTrained'
      'spentOnMission spentOnMission spentOnMission spentOnMission spentOnMission spentOnMission . .';
  }
}

@media screen and (max-width: 800px) {
  .buttonsContainer {
    margin-top: 0;
    flex-direction: column;
    width: 100%;
  }
  .left {
    max-width: 100%;
  }

  .right {
    grid-template-rows: repeat(3, 124px);
  }

  .card {
    padding: 20px 16px 24px 16px;

    & .count {
      font-size: 48px;

      line-height: 56px;
    }

    & .description {
      font-size: 16px;
      line-height: 20px;
    }
  }
}

@media screen and (max-width: 500px) {
  .section {
    padding-top: 60px;
    padding-bottom: 20px;
  }

  .text {
    margin-top: 24px;
  }

  .title {
    max-width: 228px;
    height: auto;
  }

  .right {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 124px);

    grid-template-areas:
      'prostheses prostheses prostheses prostheses prostheses prostheses . .'
      'clinicsOpened clinicsOpened clinicsOpened clinicsOpened patients patients patients patients'
      'specialistsTrained specialistsTrained specialistsTrained specialistsTrained specialistsTrained specialistsTrained specialistsTrained specialistsTrained'
      'spentOnMission spentOnMission spentOnMission spentOnMission spentOnMission spentOnMission spentOnMission spentOnMission';
  }

  .card {
    &:nth-child(5) {
      background-color: var(--red);
      color: var(--white);
    }
  }
}
