.section:global(.section) {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  left: 0;
  top: 0;
}

.filter {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #0d1125;
  opacity: 0.5;
}

.mainTitle {
  position: relative;
  z-index: 1;
}

.companyData {
  position: static;
  max-width: 100%;
  z-index: 8;
  padding: 0 6vw 1rem 6vw;
}

@media screen and (max-width: 480px) {
  .section:global(.section) {
    min-height: 100vh;
    padding-bottom: 0;
    justify-content: flex-end;
    gap: 100px;
  }
}
