.section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: calc(var(--navLeftWidth) + 8vw);
  padding-right: calc(var(--navRightWidth) + 4vw);
}

.video {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  left: 0;
  top: 0;
}

.mainTitle {
  position: relative;
  z-index: 1;
  & span {
    display: block;
    line-height: 0.75;
    &:first-of-type {
      font-family: "Playfair Display", serif;
      font-weight: 400;
      font-style: italic;
      font-size: 200px;
      color: var(--white);
    }
    &:nth-of-type(2) {
      font-family: "Outfit", sans-serif;
      font-weight: 700;
      font-size: 200px;
      text-transform: uppercase;
      color: #0075ff;
      padding-left: 111px;
    }
    &:last-of-type {
      font-family: "Playfair Display", serif;
      font-weight: 400;
      font-size: 200px;
      font-style: italic;
      line-height: 0.3;
      color: #ffc327;
      padding-left: 336px;
    }
  }
}
