.section:global(.section) {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

svg.mainTitle {
  position: relative;
  z-index: 1;
  max-width: 1185px;
}

.companyData {
  display: none;
  position: absolute;
  left: 0;
  /* bottom: 24px; */
  bottom: 0;
  max-width: 100%;
  z-index: 8;
  padding: 6vw;
}

/* desktop */
@media screen and (max-width: 1920px) {
  svg.mainTitle {
    max-width: 910px;
  }
}
/* beforeTablet */
@media screen and (max-width: 1366px) {
  svg.mainTitle {
    max-width: 726px;
  }
}

@media screen and (max-width: 700px) {
  .companyData {
    display: block;
  }
}

/* phone */
@media screen and (max-width: 480px) {
  .section:global(.section) {
    min-height: 100vh;
    /* padding-bottom: 30px; */
    /* justify-content: flex-end; */
    /* gap: 100px; */
  }
  svg.mainTitle {
    max-width: 100%;
  }
}
