.main {
  // background-color: var(--dark-blue);
  background-color: var(--black);
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.fallback {
  background-color: var(--dark-blue);
  height: 100vh;
}

.flagsBlock {
  position: relative;
}

.americanFlag {
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 33%;
  max-width: 32%;
  height: auto;
}

/* phone */
@media screen and (max-width: 600px) {
  .americanFlag {
    max-width: 90%;
    top: 39%;
  }
}
