.block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.563vw;
  color: var(--white);
  border: 1px solid rgba(255, 255, 255, 0.24);
  & svg {
    width: 2.3em;
    height: 2.3em;
    align-self: flex-end;
  }
  &:hover {
    background-color: var(--pink);
    transition: all 0.5s ease;
  }
}

.block.reverseBlock {
  flex-direction: column-reverse;
  & svg {
    align-self: flex-start;
  }
}

@media screen and (max-width: 1920px) {
  .block {
    padding: calc(24px + 16 * ((100vw - 1920px) / 2200));
  }
}
@media screen and (max-width: 1366px) {
  .block {
    padding: 18px;
    & svg {
      width: 40px;
      height: 40px;
    }
  }
}
