/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1.563vw;
  color: var(--white);
  border: 1px solid rgba(255, 255, 255, 0.24);
  & svg {
    width: 2.3em;
    height: 2.3em;
    -ms-flex-item-align: end;
    align-self: flex-end;
  }
  &:hover {
    background-color: var(--pink);
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
}

.block.reverseBlock {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  & svg {
    -ms-flex-item-align: start;
    align-self: flex-start;
  }
}

@media screen and (max-width: 1920px) {
  .block {
    padding: calc(24px + 16 * ((100vw - 1920px) / 2200));
  }
}
@media screen and (max-width: 1366px) {
  .block {
    padding: 18px;
    & svg {
      width: 40px;
      height: 40px;
    }
  }
}
