.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  gap: 8px;
  border-radius: 4px;
  -webkit-transition:
    background var(--transitionProps),
    border var(--transitionProps),
    color var(--transitionProps);
  -o-transition:
    background var(--transitionProps),
    border var(--transitionProps),
    color var(--transitionProps);
  transition:
    background var(--transitionProps),
    border var(--transitionProps),
    color var(--transitionProps);
  font-family: inherit;
  font-weight: 700;

  &.primaryBlue {
    color: var(--white);
    background-color: var(--blue);
    background-image: linear-gradient(0deg, var(--dark-blue) 0%, var(--dark-blue) 25%, #006bcd 75%, var(--blue) 100%);
    background-size: 100% 400%;
    background-position: 100% 0%;

    &:hover {
      background-position: 100% 100%;
    }
  }

  &.primaryWhite {
    color: var(--black);
    background-color: var(--white);
    border: 1px solid var(--white);

    &:hover {
      background-color: transparent;
      color: var(--white);
    }
  }

  &.secondaryWhite {
    color: var(--white);
    border: 1px solid var(--white);
    background-color: transparent;

    &:hover {
      color: var(--black);
      background-color: var(--white);
    }
  }

  &.secondaryBlack {
    color: var(--black);
    background-color: var(--var);
    border: 1px solid var(--black);

    &:hover {
      color: var(--white);
      background-color: var(--black);
    }
  }

  &.secondaryFillBlack {
    color: var(--white);
    border: 1px solid var(--black);
    background-color: var(--black);
  }

  &.normalBlue {
    align-items: flex-end;
    justify-content: space-between;
    background-color: var(--blue);
    border-radius: 0;
    color: var(--white);
    font-weight: 700;
  }

  &.big {
    padding: 17px 31px;
    font-size: 16px;
    line-height: 1.5;
  }

  &.normal {
    width: 100%;
    font-size: 14px;
    line-height: 18px;
    padding: 14px;

    @media (min-width: 576px) {
      font-size: 16px;
      line-height: 20px;
      padding: 16px 24px;
    }

    @media (min-width: 768px) {
      padding: 24px;
      font-size: 20px;
      line-height: 28px;
    }
  }

  &.small {
    padding: 12px 24px;
    font-size: 14px;
    line-height: 20px;
  }

  &.primaryBlue.big {
    height: 60px;
  }

  &.primaryBlue.small {
    height: 46px;
  }

  &:disabled,
  &[disabled] {
    opacity: 50%;
    pointer-events: none;
  }
}
