.footer {
  & .divider {
    background-color: var(--white);
  }
}

.footerTop {
  color: var(--white);
  padding: 140px var(--section-padding-horizontal);
  &.red {
    background-color: var(--red);
  }
  &.blue {
    background-color: var(--blue);
  }
}

.footerTopContent {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 100px;
  width: 100%;
}

.footerLogo {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 60px;
  width: 100%;
  max-width: 646px;
  flex-shrink: 1;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex: 0 0 264px;
}
.descAddress {
  margin-top: 12px;
}

.descTitle {
  font-weight: 700;
}

.footerBottom {
  background-color: var(--black);
  color: var(--white);
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  line-height: 22px;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 168px;
  padding-right: 168px;
}

.termsLink {
  color: var(--White, #fff);

  font-size: 14px;
  font-style: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

@media (max-width: 1024px) {
  .footerTopContent {
    gap: 40px;
  }
}

@media screen and (max-width: 800px) {
  .footerTop {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .footerTopContent {
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
  }

  .left {
    gap: 32px;
  }
  .footerLogo {
    margin: 0 auto;
    max-width: 265px;
    &.ukrainian {
      max-width: 100%;
    }
  }

  .right {
    flex-basis: auto;
  }

  .buttonGroup {
    flex-direction: column;
    align-items: stretch;
    gap: 16px;
  }
}
