.section {
  width: 100%;
  background-color: var(--black);
  padding: 5.625vw calc(64px + 4vw + 176px) 5.625vw  calc(300px + 16.875vw);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows:  34vh 25vh 17.5vh;

}
.section div:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 3;
  display: grid;
  justify-items: end;
}
.section div:nth-child(3) {
  grid-column-start: 2;
  grid-column-end: 3;
}

.section div:nth-child(4) {
  grid-column-start: 1;
  grid-column-end: 2;
}

.section div:nth-child(5) {
  grid-column-start: 3;
  grid-column-end: 4;
}


