.button {
  display: flex;

  align-items: center;
  justify-content: center;

  gap: 8px;
  border-radius: 4px;
  padding: 17px 32px 19px 32px;

  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */

  transition:
    background var(--transitionProps),
    color var(--transitionProps);

  &:disabled,
  &[disabled] {
    opacity: 50%;
    pointer-events: none;
  }

  .icon {
    width: 24px;
    height: 24px;
  }

  .hasArrow {
    padding-right: 24px;
  }

  &.squared {
    border-radius: 0;
  }

  &.small {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    padding: 12px 24px 14px 24px;
    &.hasArrow {
      padding-right: 16px;
    }
  }

  &.primaryRed {
    color: var(--white);
    & .icon path:not(:global(.noChangeColor)) {
      fill: var(--white);
    }

    background: linear-gradient(180deg, #d01f1f 0%, #b50707 100%);
    background-size: 100% 400%;
    background-position: 100% 0%;

    &:hover,
    &:active {
      background-position: 100% 100%;
    }

    &:focus {
      border: 2px solid var(--white);
      padding: 15px 30px 17px 30px;
      &.hasArrow {
        padding-right: 22px;
      }
    }
    &.small {
      &:focus {
        padding: 10px 22px 12px 22px;
        &.hasArrow {
          padding-right: 14px;
        }
      }
    }
  }

  &.primaryWhite {
    color: var(--black);
    & .icon path:not(:global(.noChangeColor)) {
      fill: var(--black);
    }
    &:hover {
      background-color: transparent;
      color: var(--white);
      & .icon path:not(:global(.noChangeColor)) {
        fill: var(--white);
      }
      border: 1px solid var(--white);
      padding: 16px 31px 18px 31px;
      &.hasArrow {
        padding-right: 23px;
      }
    }
    &:focus {
      border: 2px solid var(--black);
      padding: 15px 30px 17px 30px;
      &.hasArrow {
        padding-right: 22px;
      }
    }

    &.small {
      &:hover {
        padding: 11px 23px 13px 23px;
        &.hasArrow {
          padding-right: 15px;
        }
      }
      &:focus {
        padding: 10px 22px 12px 22px;
        &.hasArrow {
          padding-right: 14px;
        }
      }
    }
  }

  &.primaryBlack {
    color: var(--white);
    background-color: var(--black);
    & .icon path:not(:global(.noChangeColor)) {
      fill: var(--white);
    }
    &:hover {
      background-color: transparent;
      color: var(--black);
      & .icon path:not(:global(.noChangeColor)) {
        fill: var(--black);
      }
      border: 1px solid var(--black);
      padding: 16px 31px 18px 31px;
      &.hasArrow {
        padding-right: 23px;
      }
    }
    &:focus {
      border: 2px solid var(--red);
      padding: 15px 30px 17px 30px;
      &.hasArrow {
        padding-right: 22px;
      }
    }

    &.small {
      &:hover {
        padding: 11px 23px 13px 23px;
        &.hasArrow {
          padding-right: 15px;
        }
      }

      &:focus {
        padding: 10px 22px 12px 22px;
        &.hasArrow {
          padding-right: 14px;
        }
      }
    }

    &.discoverAllButton {
      height: fit-content;
      justify-content: space-between;
      padding: 24px 16px 24px 24px;
      align-items: flex-end;
      &:hover {
        padding: 23px 15px 23px 23px;
      }
      &:focus {
        border: 2px solid var(--red);
        padding: 22px 14px 22px 22px;
      }
    }
  }

  &.secondaryWhite {
    color: var(--white);
    & .icon path:not(:global(.noChangeColor)) {
      fill: var(--white);
    }

    border: 1px solid var(--white);
    padding: 16px 31px 18px 31px;
    background-color: transparent;

    &.hasArrow {
      padding-right: 23px;
    }

    &:hover {
      border: 2px solid rgba(255, 255, 255, 0.5);
      background-color: var(--black);
    }
    &:focus {
      background-color: var(--black);
      border: 2px solid var(--white);
    }
    &:hover,
    &:focus {
      padding: 15px 30px 17px 30px;
      &.hasArrow {
        padding-right: 22px;
      }
    }

    &.small {
      padding: 11px 23px 13px 23px;
      &.hasArrow {
        padding-right: 15px;
      }
      &:hover,
      &:focus {
        padding: 10px 22px 12px 22px;
        &.hasArrow {
          padding-right: 14px;
        }
      }
    }
  }

  &.secondaryBlack {
    color: var(--black);
    & .icon path:not(:global(.noChangeColor)) {
      fill: var(--black);
    }
    border: 1px solid var(--black);
    padding: 16px 31px 18px 31px;
    background-color: transparent;

    &.hasArrow {
      padding-right: 23px;
    }

    &:hover {
      color: var(--white);
      border: 2px solid var(--black);
      background-color: var(--black);
      & .icon path:not(:global(.noChangeColor)) {
        fill: var(--white);
      }
    }
    &:focus {
      border: 2px solid var(--black);
    }
    &:hover,
    &:focus {
      padding: 15px 30px 17px 30px;
      &.hasArrow {
        padding-right: 22px;
      }
    }

    &.small {
      padding: 11px 23px 13px 23px;
      &.hasArrow {
        padding-right: 15px;
      }

      &:hover,
      &:focus {
        padding: 10px 22px 12px 22px;
        &.hasArrow {
          padding-right: 14px;
        }
      }
    }
  }

  &.primaryBlue {
    color: var(--white);
    & .icon path:not(:global(.noChangeColor)) {
      fill: var(--white);
    }

    background: linear-gradient(
      0deg,
      var(--dark-blue) 0%,
      var(--dark-blue) 25%,
      #006bcd 75%,
      var(--blue) 100%
    );
    background-size: 100% 400%;
    background-position: 100% 0%;

    &:hover,
    &:active {
      background-position: 100% 100%;
    }

    &:focus {
      border: 2px solid var(--white);
      padding: 15px 30px 17px 30px;
      &.hasArrow {
        padding-right: 22px;
      }
    }
    &.small &:focus {
      padding: 10px 22px 12px 22px;
      &.hasArrow {
        padding-right: 14px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .button {
    &.primaryBlack {
      &.discoverAllButton {
        padding: 16px 16px 16px 24px;

        &:hover {
          padding: 15px 15px 15px 23px;
        }
        &:focus {
          padding: 14px 14px 14px 22px;
        }
      }
    }
  }
}
