.main {
  // background-color: var(--dark-blue);
  background-color: var(--black);
}

.fallback {
  background-color: var(--dark-blue);
  height: 100vh;
}

.flagsBlock {
  position: relative;
}

.americanFlag {
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 33%;
  max-width: 32%;
  height: auto;
}

.smokeBlock {
  position: relative;
}

.smokeTop {
  height: calc(100% - 100vh);
  top: auto;
  bottom: 0;
}

.mapBlock {
  position: relative;
}

.map {
  position: absolute;
  top: 30px;
  right: 0;
  max-width: 55%;
  z-index: 2;
}

/* tablet */
@media screen and (max-width: 1180px) {
  .companyDataNonProfit {
    display: none;
  }
}

/* phone */
@media screen and (max-width: 480px) {
  .americanFlag {
    max-width: 90%;
    top: 42%;
  }
}
