.newsCard {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 20px;

  &.short {
    padding-top: 80px;
  }
  & div {
    overflow: hidden;
  }
  transform-origin: center;
  opacity: 0.4;
  transition: transform var(--transitionProps), opacity var(--transitionProps);
  &:hover {
    opacity: 1;
    transform: scale(1.01);
    transition: transform var(--transitionProps), opacity var(--transitionProps);
    & .title {
      color: var(--pink);
      transition: color var(--transitionProps);
    }
    & .icon {
      transform: scale(1.8);
      & path {
        fill: var(--pink);
      }
    }
  }
}

.newsPicture {
  flex-grow: 1;
  width: 100%;
  object-position: center;
  object-fit: cover;
  height: 544px;
  &.short {
    height: 230px;
  }
}

.date {
  padding: 1rem 0;
  display: flex;
  gap: 0.5rem;
  border-bottom: 2px solid var(--white);
}

.title {
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.logo {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  max-width: 100%;
  width: auto;
}

.text {
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  margin-top: 1rem;
  margin-bottom: 2.5rem;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.icon {
  transform-origin: center;
  transition: transform var(--transitionProps);
  & path {
    transition: fill var(--transitionProps);
  }
}
/* desktop */
@media screen and (max-width: 1920px) {
  .newsPicture {
    height: 412px;
    &.short {
      height: 196px;
    }
  }
  .logo {
    margin-top: 8px;
    margin-bottom: 24px;
  }
  .icon {
    width: 48px;
    height: 48px;
  }
  .newsCard:hover {
    & .icon {
      transform: scale(1.3);
    }
  }
}

/* beforeTablet */
@media screen and (max-width: 1366px) {
  .newsPicture {
    height: 231px;
    &.short {
      height: 128px;
    }
  }
  .logo {
    height: 16px;
    width: auto;
  }
  .icon {
    width: 40px;
    height: 40px;
  }
  .newsCard:hover {
    & .icon {
      transform: scale(1.6);
    }
  }
}

@media screen and (max-width: 500px) {
  .newsPicture {
    &.short {
      height: 218px;
    }
  }
  .newsCard {
    opacity: 1;
    &:hover {
      transform: none;
      & .icon {
        transform: none;
      }
    }
  }
  .logo {
    margin-top: 8px;
    margin-bottom: 12px;
  }
}
