.newsCard {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 20px;

  &.short {
    padding-top: 4rem;
  }
  & div {
    overflow: hidden;
  }
  transform-origin: center;
  opacity: 0.4;
  transition: transform var(--transitionProps), opacity var(--transitionProps);
  &:hover {
    opacity: 1;
    transform: scale(1.01);
    transition: transform var(--transitionProps), opacity var(--transitionProps);
    & .title {
      color: var(--pink);
      transition: color var(--transitionProps);
    }
    & .icon path {
      fill: var(--pink);
    }
  }
}

.newsPicture {
  flex-grow: 1;
  width: 100%;
  object-position: center;
  object-fit: cover;
  max-height: 500px;
  &.short {
    max-height: 230px;
  }
}

.date {
  padding: 1rem 0;
  display: flex;
  gap: 0.5rem;
  border-bottom: 2px solid var(--white);
}

.title {
}

.logo {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  /* width: auto; */
  /* height: auto; */
  max-width: 100%;
}

.text {
  margin-top: 1rem;
  margin-bottom: 2.5rem;
}

.icon {
  margin: 0.5rem;
}

@media screen and (max-width: 500px) {
  .newsCard {
    opacity: 1;
  }
}
