.container {
  background-color: white;
  display: block;
  width: 100%;
  max-width: 372px;
  color: var(--dark);
  text-align: center;
  min-height: 430px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 10px;
}
.picture {
  width: 100%;
  height: auto;
  object-fit: cover;
  &:hover {
    width: 110%;
  }
}

.textContainer {
  flex-grow: 1;
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
}

.priceBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.prevPrice {
  text-decoration: line-through;
  color: #0d1125b3;
}
.price {
}

@media screen and (max-width: 1920px) {
}
/* beforeTablet */
@media screen and (max-width: 1366px) {
}
/* tablet */
@media screen and (max-width: 1180px) {
}
/* phone */
@media screen and (max-width: 480px) {
  .container {
    max-width: 340px;
    min-height: 370px;
  }
}
