.section {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.left {
  width: 100%;
  max-width: 560px;
}
.title {
  width: 100%;
  max-width: 416px;
  margin-bottom: 40px;
}

.description {
  margin-bottom: 60px;
}

.buttonsContainer {
  display: flex;
  gap: 16px;
}

.right {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  min-width: 629px;
}

.body {
  flex-shrink: 0;
  width: 274px;
}

.line {
  flex-shrink: 0;
  width: 135px;
  height: 608px;

  margin-right: -40px;
  pointer-events: none;
}

.prices {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 22.5px 0;
  margin-right: -72px;
}
.pricesBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;

  &.upperBlock {
    & .priceCard {
      &:nth-of-type(1) {
        grid-area: handOrArm;
      }
      &:nth-of-type(2) {
        grid-area: aboveTheKnee;
        padding-right: 56px;
      }
      &:nth-of-type(3) {
        grid-area: belowKnee;
        padding-right: 87px;
      }
    }
  }
  &.lowerBlock {
    & .priceCard {
      &:nth-of-type(1) {
        grid-area: linersAndSocks;
        padding-right: 87px;
      }
      &:nth-of-type(2) {
        grid-area: components;
        padding-right: 56px;
      }
      &:nth-of-type(3) {
        grid-area: sportFoot;
      }
    }
  }
}
.pricesDivider {
  padding-right: 195px;
}

.priceCard {
  display: flex;
  gap: 20px;
  align-items: center;
  width: fit-content;
  cursor: default;
  &:hover .priceCardCircle {
    border: 2px solid var(--white);
    background-color: var(--red);
  }

  .priceCardTextBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .priceCardText {
    color: var(--white);
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-style: italic;
    font-weight: 600;
    line-height: normal;
  }

  .priceCardPrice {
    color: var(--red);
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    white-space: nowrap;
  }

  .priceCardCircle {
    border-radius: 280px;
    border: 2px solid rgba(255, 255, 255, 0.24);
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: var(--transition);
  }

  .priceCardIcon {
    width: 100%;
    pointer-events: none;
  }
}
