.fullWidth {
  width: 100%;
}

.footer {
  & .divider {
    background-color: var(--white);
  }
}

.footerTop {
  color: var(--white);
  padding: 140px var(--section-padding-horizontal);
  &.red {
    background-color: var(--red);
  }
  &.blue {
    background-color: var(--blue);
  }
  &.teal {
    background-color: var(--teal-dark);
    padding-left: 40px;
    padding-right: 40px;

    .footerTopContent {
      max-width: 1180px;
      margin: 0 auto;
    }
  }
}

.footerTopContent {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 100px;
  width: 100%;
}

.title {
  max-width: 100%;
  height: auto;
}

.title.titleDesktop {
  display: block;
}

.title.titleMobile {
  display: none;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 60px;
  width: 100%;
  max-width: 646px;
  flex-shrink: 1;
}
.buttonGroup {
  display: flex;
  align-items: center;
  gap: 16px;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex: 0 0 264px;
}
.descAddress {
  margin-top: 12px;
}

.descTitle {
  font-weight: 700;
}

.footerBottom {
  background-color: var(--black);
  color: var(--white);
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  line-height: 22px;
  padding: 12px;
}

@media (max-width: 1024px) {
  .footerTopContent {
    gap: 40px;
  }
}

@media screen and (max-width: 800px) {
  .title.titleDesktop {
    display: none;
  }

  .title.titleMobile {
    display: block;
  }

  .footerTop {
    padding-top: 60px;
    padding-bottom: 60px;

    &.teal {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .footerTopContent {
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
  }

  .left {
    gap: 32px;
  }
  .title {
    margin: 0 auto;
    max-width: 265px;
    &.ukrainian {
      max-width: 100%;
    }
  }

  .right {
    flex-basis: auto;
  }

  .buttonGroup {
    flex-direction: column;
    align-items: stretch;
    gap: 16px;
  }
}
