.section {
  padding-right: 24px;
  padding-left: 24px;
}

// tablet portrait
@media (min-width: 768px) {
  .section {
    padding-right: 60px;
    padding-left: 60px;
  }
}

// tablet landscape
@media (min-width: 1366px) {
  .section {
    padding-right: 80px;
    padding-left: 80px;
  }
}

// desktop
@media (min-width: 1920px) {
  .section {
    padding-right: 168px;
    padding-left: 168px;
  }
}
