.button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.25rem 2.5rem;
  background-color: transparent;
  border: 1px solid var(--white);
  color: var(--white);
  transform-origin: center;
  transition: background-color var(--transitionProps),
    border var(--transitionProps), color var(--transitionProps);
}

.button.pink {
  border: 1px solid var(--pink);
  background-color: var(--pink);
}

.button.black {
  border: 1px solid var(--black);
  background-color: var(--black);
}

.button.emptyBlack {
  border: 1px solid var(--black);
  background-color: transparent;
  color: var(--black);
}

/* hovers */
@media screen and (min-width: 480px) {
  .button {
    &:hover {
      color: var(--black);
      border: 1px solid var(--black);
      transition: background-color var(--transitionProps),
        border var(--transitionProps), color var(--transitionProps);
    }
  }

  .button.pink {
    &:hover {
      color: var(--white);
      border: 1px solid var(--black);
      background-color: var(--black);
    }
  }

  .button.black {
    &:hover {
      border: 1px solid var(--white);
      background-color: var(--white);
      color: var(--pink);
    }
  }

  .button.emptyBlack {
    &:hover {
      border: 1px solid var(--pink);
      color: var(--pink);
    }
  }
}
