// Brand colors
$pink: #b40a54;
$blue: #00a3ff;
$white: #ffffff;
$dark-blue: #0d1125;
$dark: #0d1125;
$academy-dark-blue: #0170ce;
$black: #131313;
$red: #c31822;
$red-hover: #de1313;
$light-grey: #f3f3f3;
$grey: #c7c8cf;

// Layout
$nav-left-width: 300px;
$nav-right-width: 64px;
$padding-vw: 2vw;
$header-padding-side: 108px;
$header-padding-top: 90px;
$section-padding-horizontal: 168px;

// Borders
$white-border: 1px solid rgba(255, 255, 255, 0.24);
$grey-border: 1px solid rgba(13, 17, 37, 0.24);
$protez-border: 1px solid #4e4e4e;

// Transitions
$transition-base: 0.3s;
$text-scale: 1.01;
