.section {
  width: 100%;
  font-family: "Outfit", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center; 
  position: relative;
  z-index: 5; 
  position: relative;
  overflow: hidden;
}


.title{
  color: var(--white);
  font-size: 137px;
  line-height: 94px;
  text-align: center;
  & h2:nth-child(1){
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-weight: 600;
  }
  & h2:nth-child(2){
    font-weight: 700; 
    & .uppercase{
      text-transform: uppercase;
    }
  }
}

.mailing{

}
.images{
  padding: 4.7vh 1vw 0 1.4vw;
  height: 100%;
  width: 100%;
  display: grid;
  position: absolute;
  grid-template-columns: 16.6fr 14.6fr 9.6fr 14.6fr 16.6fr;
  grid-template-rows: repeat(3,1fr);
  row-gap: calc(50px + 95 * ((100vh - 360px) / 2200));
  column-gap: calc(30px + 136 * ((100vw - 360px) / 2200));
  bottom:0;
  transform: translate(0,0);
  z-index: 4;

  & div{
    overflow: hidden;
  }

  & div img{
    width: fit-content;
    height: 100%;
  }

  & div:nth-child(1){
    filter: blur(7px);
    align-self: end;
  }
  & div:nth-child(2){
    filter: blur(1.5px);
    align-self: end;
    width: 100%;
  }
  & div:nth-child(3){
    align-self: end;
    width: 100%;
  }
  & div:nth-child(4){
    filter: blur(1.5px);
    align-self: end;
  }

  & div:nth-child(5) {
    filter: blur(7px);
    align-self: end;
  }
  & div:nth-child(6){
    grid-column-start: 1;
    grid-column-end: 2;
    filter: blur(7px);
    align-self: center;
  }
  & div:nth-child(7){
    grid-column-start: 5;
    grid-column-end: 6;
    filter: blur(7px);
    align-self: center;
  }
  & div:nth-child(8){
    align-self: flex-start;
    filter: blur(7px);
  }
  & div:nth-child(9){
    filter: blur(1.5px);
    align-self: start;
  }
  & div:nth-child(10){

    align-self: start;
  }    
  & div:nth-child(11){
    filter: blur(1.5px);
    align-self: flex-start;
  }
  & div:nth-child(12){
    filter: blur(7px);
    align-self: flex-start;
  }
}


.italic{
  text-transform: lowercase;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-weight: 600;
  font-size: 137px;
  line-height: 94px;
  text-align: center;
}
.fontSizeBig{
  font-weight: 700;
  font-size: 87px;
  line-height: 80px;
}
.fontPlayfair{
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: 600;
  font-size: 87px;
  line-height: 80px;
  color: var(--white);
  background-color: transparent;

}

.title{
  width: 28.9vw;
}
.form{
  width: 100%;
  display: flex;
  margin-top: 7.222vh;
  position: relative;
  justify-content: space-between;
  z-index: 5;
  border-bottom: 7px solid #FFFFFF;
  padding-bottom: 16px;
  & input{
    width: 100%;
    height: 80px;
    margin-right: 1.4em;
    padding-left: 1.3em;
    background-color: transparent;
    color: #949494;
    &:focus {
      outline-color: transparent;
      outline-style: none;
    }
  }
  & button{
    width: 276px;
    font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  }

}
.pinkButton {
  background-color: var(--pink);
}
