.weAreInNews {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--black);
}

.title {
  margin-left: 0;
  max-width: 100%;
}

.sliderWrapper {
  position: relative;
}

.sliderNavigation {
  position: absolute;
  display: flex;
  gap: 16px;
  top: -48px;
  right: 0;
}

.sliderButton {
  width: 48px;
  height: 48px;
  transition: all var(--transitionProps);
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:nth-child(1) {
    background-color: var(--white);
    border-color: #0d1125;
    &:hover {
      background-color: var(--blue);
      border-color: var(--blue);
      & .arrowLeft path {
        transition: all var(--transitionProps);
        fill: var(--white);
      }
    }
  }

  &:nth-child(2) {
    background-color: var(--blue);
    border-color: var(--blue);
    &:hover {
      background-color: var(--white);
      border-color: #0d1125;
      & .arrowRight path {
        transition: all var(--transitionProps);
        fill: #0d1125;
      }
    }
  }

  &:hover {
    background-color: var(--blue);
    & .arrowRight path {
      transition: all var(--transitionProps);
      fill: var(--white);
    }
  }
}

.slickSlider :global(.slick-track) {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 24px;
  height: 850px;
}

.cardWrapper {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 850px;
}

.card {
  width: 100%;
  height: 100%;
  max-height: 690px;
  display: flex;
  flex-direction: column;
  transition: all var(--transitionProps);
}

.cardPicture {
  transition: all 0.5s;
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-height: 360px;
}

.cardDataBlock {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 16px;
}

.cardDate {
  padding-bottom: 8px;
  display: flex;
  gap: 10px;
  border-bottom: 2px solid var(--white);

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  color: var(--white);
}

.cardLogo {
  width: 100%;
  max-width: 80px;
}

.cardTitle {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  color: var(--white);
  transition: all var(--transitionProps);

  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.cardText {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  color: var(--white);

  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.iconArrow {
  width: 48px;
  height: 48px;
  margin-top: auto;
  opacity: 0;
  transition: all var(--transitionProps);
}

@media (min-width: 1366px) {
  .centerSlide .card {
    max-height: 100%;
    & .cardPicture {
      max-height: 520px;
    }
    & .title {
      color: var(--blue);
    }
    & .iconArrow {
      opacity: 1;
      & path {
        fill: var(--blue);
      }
    }
    & .cardTitle {
      color: var(--blue);
    }
  }
}

@media (max-width: 1366px) {
  .weAreInNews {
    padding-top: 120px;
    padding-bottom: 80px;
  }

  .title {
    margin-bottom: 40px;
  }

  .sliderNavigation {
    top: -88px;
  }

  .slickSlider :global(.slick-track) {
    height: 818px;
  }

  .cardWrapper {
    height: 818px;
  }
}

@media (min-width: 600px) and (max-width: 1366px) {
  .leftSlide .card {
    max-height: 100%;
    & .cardPicture {
      max-height: 520px;
    }
    & .title {
      color: var(--blue);
    }
    & .iconArrow {
      opacity: 1;
      & path {
        fill: var(--blue);
      }
    }
    & .cardTitle {
      color: var(--blue);
    }
  }
}

@media (max-width: 1024px) {
  .slickSlider :global(.slick-track) {
    height: 850px;
  }

  .cardWrapper {
    height: 850px;
  }
}

@media (max-width: 600px) {
  .weAreInNews {
    padding: 60px 0;
  }

  .title {
    width: 100%;
    padding: 0 24px;
    margin-bottom: 32px;
  }

  .slickSlider :global(.slick-track) {
    height: 608px;
  }

  .cardWrapper {
    height: 608px;
    align-items: flex-end;
  }

  .card {
    max-height: 568px;
  }

  .image {
    max-height: 240px;
  }

  .slickSlider :global(.slick-slide.slick-active.slick-center.slick-current) .card {
    max-height: 100%;
    & .cardPicture {
      max-height: 280px;
    }
    & .title {
      color: var(--blue);
    }
    & .iconArrow {
      opacity: 1;
      & path {
        fill: var(--blue);
      }
    }
    & .cardTitle {
      color: var(--blue);
    }
  }

  .slickSlider {
    & :global(.slick-dots) {
      border-radius: 4px;
      display: flex;
      padding-top: 32px;
      padding-right: 24px;
      padding-left: 24px;
      position: static;
    }
    & :global(.slick-dots li) {
      margin: 0;
      width: calc(100% / 8);
      height: 3px;
      background-color: var(--white);
      opacity: 0.06;
    }

    & :global(.slick-dots li.slick-active) {
      border-radius: 4px;
      background-color: var(--blue);
      opacity: 1;
    }

    & :global(.slick-dots li button:before) {
      display: none;
    }

    & :global(.slick-dots li button) {
      width: 100%;
      height: 100%;
      padding: 0;
    }
  }
}
