.counter {
  color: var(--white); 
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  white-space: nowrap;
  width: fit-content;
  border-bottom: 4px solid var(--pink);
}

.counter:hover {
  background-color: var(--pink);
  transition: all .5s ease;
}

.title{
  line-height: calc(34px + 80 * ((100vw - 360px) / 2200));
  transform: translateY(calc(10px + 5* ((100vw - 360px) / 2200)));
}




