.counter {
  color: var(--white);
  display: flex;
  flex-direction: row-reverse;
  transform: rotate(180deg);
  white-space: nowrap;
  align-content: flex-start;
  border-left: 4px solid var(--pink);
  margin-right: -1px;
  flex: 1 1 24%;
  justify-content: center;
  &:first-of-type {
    padding-bottom: 2rem;
  }
  &:nth-of-type(2) {
    padding-bottom: 6rem;
  }
  &:nth-of-type(3) {
    padding-bottom: 12rem;
  }
}

.bigNumb {
  writing-mode: vertical-lr;
  font-size: calc(52px + 82 * ((100vw - 360px) / 2200));
  line-height: 1;
  font-weight: 600;
}

.counter:hover {
  background-color: var(--pink);
  transition: all var(--transitionProps);
}

.title {
  writing-mode: vertical-lr;
  align-self: flex-start;
}
.numb {
  writing-mode: vertical-lr;
}
/* beforeTablet */
@media screen and (max-width: 1366px) {
  .counter {
    &:first-of-type {
      padding-bottom: 6rem;
    }
    &:nth-of-type(2) {
      padding-bottom: 14rem;
    }
    &:nth-of-type(3) {
      padding-bottom: 22rem;
    }
    &:last-of-type {
      padding-bottom: 12.5rem;
    }
  }
}

/* phobe */
@media screen and (max-width: 480px) {
  .bigNumb {
    font-size: 52px;
    line-height: 48px;
  }
}
