.section {
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(180deg, rgba(19, 19, 19, 0) 84.03%, #131313 98.09%);
  gap: 16px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--black);
  opacity: 60%;
}

.left {
  display: flex;
  width: 100%;
  max-width: 415px;
  flex-direction: column;
  gap: 40px;
  position: relative;
  z-index: 1;
}

.description {
  color: var(--white);
}

.buttonsContainer {
  display: flex;
  gap: 16px;
}

.right {
  max-width: 890px;
  position: relative;
  z-index: 1;
}
.title {
  width: 100%;
}
