.container {
  color: var(--white);
  display: flex;
  gap: 72px;
  align-items: stretch;

  width: 100%;

  border: 1px solid #fcffff66;
}

.picture {
  max-width: 482px;
  height: auto;
  object-fit: cover;
  flex: 1 1 33%;
}

.textContainer {
  padding: 40px 40px 40px 0;
  flex: 1 1 67%;
}
.date {
}
.divider {
  margin-top: 16px;
  background-color: var(--white);
}
.title {
  margin-top: 64px;
}
.text {
  margin-top: 64px;
  font-weight: 400;
}

@media screen and (max-width: 1920px) {
  .container {
    gap: 40px;
  }

  .picture {
    flex-basis: 40%;
  }

  .textContainer {
    padding: 40px 40px 40px 0;
    flex-basis: 60%;
  }

  .title {
    margin-top: 40px;
  }
  .text {
    margin-top: 64px;
  }
}
/* beforeTablet */
@media screen and (max-width: 1366px) {
  .container {
    gap: 32px;
  }

  .picture {
    max-width: 380px;
    flex-basis: 50%;
  }

  .textContainer {
    padding: 24px 24px 24px 0;
    flex-basis: 50%;
  }

  .divider {
    margin-top: 8px;
  }

  .title {
    margin-top: 24px;
  }
  .text {
    margin-top: 24px;
  }
}
/* tablet */
@media screen and (max-width: 1180px) {
}
/* phone */
@media screen and (max-width: 650px) {
  .container {
    gap: 16px;
    max-width: 100%;
    flex-direction: column;
  }

  .picture {
    width: 100%;
    max-width: 100%;
    flex-basis: auto;
  }

  .textContainer {
    flex-basis: auto;
    padding: 0 34px 24px 24px;
  }

  .title {
    margin-top: 12px;
  }
  .text {
    margin-top: 16px;
  }
}
