.h2 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

.h3 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.body {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  &.large {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
  }
}

@media (max-width: 800px) {
  .h3 {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
  }
}
