.section:global(.section) {
  padding-top: 234px;
  padding-bottom: 116px;
  min-height: 100vh;
  position: relative;
  // background: linear-gradient(
  //   179.5deg,
  //   #0d1125 0.29%,
  //   rgba(13, 17, 37, 0) 50.9%,
  //   #0d1125 99.44%
  // );
  // background-blend-mode: normal, lighten;
  // background: linear-gradient(
  //   4deg,
  //   rgba(13, 17, 37, 0) 0%,
  //   rgba(13, 17, 37, 0.51) 46.88%,
  //   rgba(13, 17, 37, 0.99) 100%
  // );
}

.logo {
  max-width: 712px;
  margin: 0 auto;
}

.slickSlider {
  margin-top: 96px;
  width: 100%;
}

.sliderSlidePadding {
  padding: 0 10px;
}

.sliderNavigation {
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  margin-top: 160px;
}

.nextSlideButton {
  background-color: var(--pink);
  border-radius: 1rem;
  font-size: 20px;
  line-height: 32px;
  padding: 0 1.5rem;
  color: var(--white);
  width: fit-content;
}

.slickDots {
  display: flex;
  flex-direction: row;
  width: fit-content;
  gap: 15px;
}

.slickDots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;

  padding: 0;
  cursor: pointer;
}

.slickDots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.slickDots li button:before {
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: "•";
  text-align: center;
  color: var(--white);
  opacity: 1;
  -webkit-font-smoothing: antialiased;
}

.slickDots :global(li.slick-active button:before) {
  color: var(--pink);
}

/* desktop */
@media screen and (max-width: 1920px) {
  .section:global(.section) {
    padding-top: 0;
    padding-bottom: 128px;
  }

  .logo {
    max-width: 633px;
  }

  .slickSlider {
    margin-top: 64px;
  }

  .sliderNavigation {
    margin-top: 32px;
  }
}
/* beforeTablet */
@media screen and (max-width: 1366px) {
  .logo {
    max-width: 312px;
  }

  .section:global(.section) {
    padding-top: 88px;
    padding-bottom: 169px;
  }

  .slickSlider {
    margin-top: 40px;
  }

  .sliderNavigation {
    margin-top: 42px;
  }
}

@media screen and (max-width: 500px) {
  .logo {
    max-width: 100%;
  }

  .section:global(.section) {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .slickSlider {
    margin-top: 40px;
  }

  .sliderNavigation {
    margin-top: 40px;
  }
}
