/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --pink: #b40a54;
  --blue: #00a3ff;
  --white: #ffffff;
  --dark-blue: #0d1125;
  --black: #131313;
  --red: #c31822;
  --red-hover: #de1313;
  --light-grey: #f3f3f3;
  --grey: #c7c8cf;
  --navLeftWidth: 300px;
  --navRightWidth: 64px;
  --paddingVW: 2vw;
  --transitionProps: 0.3s;
  --textScale: 1.01;
  --headerPaddingSide: 108px;
  --headerPaddingTop: 90px;
  --whiteBorder: 1px solid rgba(255, 255, 255, 0.24);
  --greyBorder: 1px solid rgba(13, 17, 37, 0.24);
  --protezBorder: 1px solid #4e4e4e;
  /*  */
  --section-padding-horizontal: 168px;
}

@media (max-width: 1600px) {
  :root {
    --section-padding-horizontal: 130px;
  }
}

@media (max-width: 1440px) {
  :root {
    --section-padding-horizontal: 110px;
  }
}

@media (max-width: 1366px) {
  :root {
    --section-padding-horizontal: 80px;
  }
}

@media (max-width: 1024px) {
  :root {
    --section-padding-horizontal: 60px;
  }
}

@media (max-width: 600px) {
  :root {
    --section-padding-horizontal: 24px;
  }
}

/* @media screen and (max-width: 1920px) {
  :root {
    --headerPaddingSide: 42px;
    --headerPaddingTop: 42px;
  }
} */

/* @media screen and (max-width: 1366px) {
  :root {
    --headerPaddingTop: 21px;
  }
} */

/* @media screen and (max-width: 480px) {
  :root {
    --headerPaddingSide: 30px;
    --headerPaddingTop: 17px;
  }
} */

/* @media screen and (min-width: 1981px) {
  :root {
    --paddingVW: 4vw;
  }
} */

html,
body,
a {
  font-family: var(--font-nunito-sans), sans-serif;
  font-style: normal;
  color: var(--white);
}

html {
  scroll-behavior: smooth;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}

.textContainer {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
/* @media screen and (min-width: 1180px) { */
.textContainer {
  overflow: hidden;
  & * {
    -webkit-transform: translateY(100vh);
    -ms-transform: translateY(100vh);
    transform: translateY(100vh);
  }
}

.showText .textContainer {
  & * {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
    transition:
      transform 0.5s,
      -webkit-transform 0.5s;
    /* transition-delay: 0.5s; */
  }
}

.no-scroll {
  overflow: hidden;
}

.svgTextBlock {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.hidden {
  display: none !important;
}

/* @media screen and (min-width: 1366px) {
  .h1 {
    font-size: calc(32px + 40 * ((100vw - 1366px) / 1194));
    line-height: calc(40px + 40 * ((100vw - 1366px) / 1194));
  }
  .h2 {
    font-size: calc(24px + 24 * ((100vw - 1366px) / 1194));
    line-height: calc(28px + 28 * ((100vw - 1366px) / 1194));
  }
  .h3 {
    font-size: calc(22px + 18 * ((100vw - 1366px) / 1194));
    line-height: calc(28px + 20 * ((100vw - 1366px) / 1194));
  }
  .h4 {
    font-size: calc(20px + 10 * ((100vw - 1366px) / 1194));
    line-height: calc(24px + 8 * ((100vw - 1366px) / 1194));
  }
  .h5 {
    font-size: calc(18px + 10 * ((100vw - 1366px) / 1194));
    line-height: calc(24px + 16 * ((100vw - 1366px) / 1194));
  }
  .h6 {
    font-size: calc(16px + 4 * ((100vw - 1366px) / 1194));
  }
  .p {
    font-size: calc(18px + 8 * ((100vw - 1366px) / 1194));
    line-height: calc(28px + 12 * ((100vw - 1366px) / 1194));
  }
}

@media screen and (max-width: 1366px) {
  .h1 {
    font-size: 32px;
    line-height: 40px;
  }
  .h2 {
    font-size: 24px;
    line-height: 28px;
  }
  .h3 {
    font-size: 22px;
    line-height: 28px;
  }
  .h4 {
    font-size: 20px;
    line-height: 24px;
  }
  .h5 {
    font-size: 18px;
    line-height: 24px;
  }
  .h6 {
    font-size: 16px;
  }
  .p {
    font-size: 18px;
    line-height: 28px;
  }
}

@media screen and (min-width: 2560px) {
  .h1 {
    font-size: 72px;
    line-height: 80px;
  }
  .h2 {
    font-size: 48px;
    line-height: 56px;
  }
  .h3 {
    font-size: 40px;
    line-height: 48px;
  }
  .h4 {
    font-size: 30px;
    line-height: 32px;
  }
  .h5 {
    font-size: 28px;
    line-height: 40px;
  }
  .h6 {
    font-size: 20px;
  }
  .p {
    font-size: 26px;
    line-height: 40px;
  }
} */
/* 
.section {
  padding-left: calc(366px + 309 * ((100vw - 1366px) / 1194));
  padding-right: calc(175px + 150 * ((100vw - 1366px) / 1194));

  padding-top: 9%;
  min-height: 100vh;
  position: relative;
} */

/* @media screen and (max-width: 1180px) {
  .section {
    padding-left: var(--headerPaddingSide);
    padding-right: var(--headerPaddingSide);
  }
} */

/* @media screen and (max-width: 480px) {
  .section {
    padding-top: 160px;
    padding-left: 24px;
    padding-right: 24px;
    min-height: auto;
    padding-bottom: 5rem;
  }
} */

/* desktop */
/* @media screen and (max-width: 1920px) {
} */
/* beforeTablet */
/* @media screen and (max-width: 1366px) {
} */

/* tablet */
/* @media screen and (max-width: 1180px) {
} */
/* phone */
/* @media screen and (max-width: 480px) {
} */
