@tailwind base;
/* @tailwind components;  */
/* @tailwind utilities; */

:root {
  --pink: #cd0062;
  --white: #ffffff;
  --black: #0d1125;
  --navLeftWidth: 300px;
  --navRightWidth: 64px;
  --paddingVW: 2vw;
  --transitionProps: 0.3s;
  --textScale: 1.01;
}
@media screen and (min-width: 1981px) {
  :root {
    --paddingVW: 4vw;
  }
}

html,
body {
  font-family: "Outfit", sans-serif;
  font-style: normal;
  color: var(--white);
}

html {
  scroll-behavior: smooth;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}

/* global classes */
/* -------------------------------------------------------------------------------------- */

.button-disabled {
  opacity: 0.75;
}

.hidden {
  display: none;
}

.invisible {
  opacity: 0;
}

/* -------------------------------------------------------------------------------------- */
.h1,
.h3,
.h4 {
  font-weight: 700;
  font-family: "Outfit", sans-serif;
}
.h2,
.h5,
.h6,
.p {
  font-weight: 400;
  font-family: "Outfit", sans-serif;
}

.h6 {
  line-height: 24px;
}

.textContainer {
  height: fit-content;
}
/* @media screen and (min-width: 1180px) { */
.textContainer {
  overflow: hidden;
  & * {
    transform: translateY(100vh);
  }
}

.showText .textContainer {
  & * {
    transform: translateY(0);
    transition: transform var(--transitionProps);
    transition-delay: 0.5s;
  }
}
/* } */

@media screen and (min-width: 1366px) {
  .h1 {
    font-size: calc(32px + 40 * ((100vw - 360px) / 2200));
    line-height: calc(40px + 40 * ((100vw - 360px) / 2200));
  }
  .h2 {
    font-size: calc(24px + 24 * ((100vw - 360px) / 2200));
    line-height: calc(28px + 28 * ((100vw - 360px) / 2200));
  }
  .h3 {
    font-size: calc(22px + 18 * ((100vw - 360px) / 2200));
    line-height: calc(28px + 20 * ((100vw - 360px) / 2200));
  }
  .h4 {
    font-size: calc(20px + 10 * ((100vw - 360px) / 2200));
    line-height: calc(24px + 8 * ((100vw - 360px) / 2200));
  }
  .h5 {
    font-size: calc(18px + 10 * ((100vw - 360px) / 2200));
    line-height: calc(24px + 16 * ((100vw - 360px) / 2200));
  }
  .h6 {
    font-size: calc(16px + 4 * ((100vw - 360px) / 2200));
  }
  .p {
    font-size: calc(18px + 8 * ((100vw - 360px) / 2200));
    line-height: calc(28px + 12 * ((100vw - 360px) / 2200));
  }
}
@media screen and (min-width: 2560px) {
  .h1 {
    font-size: 72px;
    line-height: 80px;
  }
  .h2 {
    font-size: 48px;
    line-height: 56px;
  }
  .h3 {
    font-size: 40px;
    line-height: 48px;
  }
  .h4 {
    font-size: 30px;
    line-height: 32px;
  }
  .h5 {
    font-size: 28px;
    line-height: 40px;
  }
  .h6 {
    font-size: 20px;
  }
  .p {
    font-size: 26px;
    line-height: 40px;
  }
}

.section {
  padding-left: calc(300px + var(--paddingVW) + 6vw);
  padding-right: calc(64px + var(--paddingVW) + 6vw);
  padding-top: 9%;
  min-height: 100vh;
  position: relative;
}
@media screen and (max-width: 1920px) {
  .section {
    padding-left: calc(300px + var(--paddingVW) + 4vw);
    padding-right: calc(64px + var(--paddingVW) + 4vw);
  }
}

@media screen and (max-width: 1180px) {
  .section {
    padding-left: var(--paddingVW);
    padding-right: var(--paddingVW);
  }
}

@media screen and (max-width: 480px) {
  .section {
    padding-top: 30px;
    padding-left: 24px;
    padding-right: 24px;
    min-height: auto;
    padding-bottom: 5rem;
  }
}

.svgTextBlock {
  max-width: 100%;
  width: 100%;
  height: auto;
}

/* desktop */
/* @media screen and (max-width: 1920px) {
} */
/* beforeTablet */
/* @media screen and (max-width: 1366px) {
  .countBlock {
    align-self: center;
  }
} */

/* tablet */
/* @media screen and (max-width: 1180px) {
} */
/* phone */
/* @media screen and (max-width: 480px) {
} */
