.flagsBlock {
  position: relative;
}

.americanFlag {
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  max-width: 50%;
}

/* phone */
@media screen and (max-width: 480px) {
  .americanFlag {
    max-width: 90%;
    top: 55%;
  }
}
