/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.flagsBlock {
  position: relative;
}

.americanFlag {
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  max-width: 50%;
}

/* phone */
@media screen and (max-width: 480px) {
  .americanFlag {
    max-width: 90%;
    top: 55%;
  }
}
