.container {
  color: var(--white);
  position: fixed;
  z-index: 9;
  left: 0;
  bottom: var(--headerPaddingSide);
  max-width: calc(var(--navLeftWidth) + var(--headerPaddingSide));
  &.black {
    color: var(--black);
  }
}

.adressContainer {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  width: 100%;

  & p {
    padding-left: var(--headerPaddingSide);
    & span {
      display: block;
      line-height: 32px;
    }
  }
}

.buttonsContainer {
  margin-top: 4.375rem;
  padding-left: var(--headerPaddingSide);
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  &.mobile {
    margin-top: 1rem;
    gap: 1rem;
    padding-left: 0;
  }
}

/* tablet */
@media screen and (max-width: 1180px) {
  .buttonsContainer {
    margin-top: 1rem;
    gap: 1rem;
    padding-left: 0;
  }
  .adressContainer {
    & p {
      padding-left: 0;
    }
  }
}
