.container {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
  background-blend-mode: normal, screen;
  color: var(--dark);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.contentWrapper {
  max-width: 951px;
}

.heart {
  margin: 0 auto;
  width: 120px;
}

.heading {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 600;
  font-size: 132px;
  line-height: 94px;
  text-align: center;
  margin-top: 104px;
}
.message {
  margin: 0 auto;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  & span {
    color: var(--pink);
  }
  margin-top: 56px;
}

.backToWebsiteButton {
  margin: 0 auto;
  margin-top: 80px;
  width: fit-content;
}

/* desktop */
@media screen and (max-width: 1920px) {
  .contentWrapper {
    max-width: 627px;
  }
  .heart {
    width: 112px;
  }
  .heading {
    font-size: 112px;
    line-height: 94px;
    margin-top: 80px;
  }

  .message {
    font-size: 32px;
    line-height: 40px;
    margin-top: 56px;
  }
}
/* beforeTablet */
@media screen and (max-width: 1366px) {
  .contentWrapper {
    max-width: 476px;
  }
  .heart {
    width: 64px;
  }
  .heading {
    font-size: 52px;
    line-height: 44px;
    margin-top: 64px;
  }

  .message {
    font-size: 24px;
    line-height: 28px;
    margin-top: 16px;
  }
}

/* phone */
@media screen and (max-width: 480px) {
  .contentWrapper {
    max-width: 100%;
    padding: 0 48px;
  }
}
