.academyGoalCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 16px 20px;
  border: var(--greyBorder);
  font-size: 15px;
  line-height: 20px;
  transition: all var(--transitionProps);

  &:hover {
    background-color: var(--blue);
    color: var(--white);
  }
}

@media (min-width: 768px) {
  .academyGoalCard {
    padding: 32px;
    font-size: 18px;
    line-height: 26px;
  }
}
