.button {
  color: var(--white);
  position: fixed;
  right: var(--paddingVW);
  bottom: var(--paddingVW);
  transform: rotate(-90deg) translate(100%, -50%);
  transform-origin: bottom right;
  text-transform: uppercase;
  transition: color var(--transitionProps);
  z-index: 9;

  &.black {
    color: var(--dark-blue);
  }

  &.pink {
    &:hover {
      color: var(--pink);
    }
  }

  &.blue {
    &:hover {
      color: var(--blue);
    }
  }
}

/* phone */
@media screen and (max-width: 480px) {
  .button {
    right: 12px;
    line-height: 100%;
    bottom: 173px;
  }
}
