.section {
  display: flex;
  justify-content: space-between;

  gap: 16px;
  position: relative;
  z-index: 1;
}

.map {
  position: absolute;
  top: 30px;
  right: 0;
  width: 80%;
  height: auto;
  pointer-events: none;
  z-index: 2;
  max-width: 1030px;
}

.mapSmall {
  display: none;
}

.image {
  width: 100%;
  height: auto;
  max-width: 845px;
}

.left {
  width: 100%;
  flex: 1 1 845px;
  position: relative;
  z-index: 3;
}

.right {
  flex: 1 1 483px;

  position: relative;

  margin-right: 70px;
  padding-top: 260px;
  z-index: 3;
}

.title {
  width: 100%;
  height: auto;
}

.link {
  margin-top: 48px;
  width: fit-content;
  display: flex;
  gap: 6px;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  color: var(--white);
  padding: 10px 0;
}

.icon {
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 1180px) {
  .section {
    align-items: center;
  }

  .map {
    top: 0;
  }

  .left {
    flex: 1 1 55%;
  }

  .right {
    flex: 1 1 40%;
    margin-right: 0;
    padding-top: 0;
  }
}

@media screen and (max-width: 800px) {
  .section {
    padding-left: 0 !important;
    padding-right: 0 !important;
    display: block;
  }

  .map {
    display: none;
  }

  .left {
    padding-left: var(--section-padding-horizontal);
    padding-right: var(--section-padding-horizontal);
    z-index: 2;
  }

  .right {
    width: 100%;
    position: relative;
    padding-top: 0;

    z-index: 1;
  }

  .mapSmall {
    pointer-events: none;
    display: block;
    height: auto;
    width: 100%;
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .textBlock {
    margin-top: -100px;
    position: relative;
    padding-left: var(--section-padding-horizontal);
    padding-right: var(--section-padding-horizontal);
    padding-top: 80px;
    padding-bottom: 140px;
  }

  .title {
    max-width: 400px;
  }
}

@media screen and (max-width: 600px) {
  .section {
    padding-top: 20px;
  }

  .left {
    height: 415px;
    display: flex;
    align-items: self-end;
  }
  .right {
    height: calc(604px - 80px);
    padding-top: 80px;
    margin-top: -60px;
  }

  .textBlock {
    margin-top: 0;
    // margin-top: -60px;

    padding-top: 0;
    padding-bottom: 0;
  }

  .link {
    margin-top: 42px;
  }

  .mapSmall {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
