.button {
  color: var(--white);
  position: fixed;
  right: 8px;
  bottom: 80px;
  transform: rotate(-90deg) translate(100%, -50%);
  transform-origin: bottom right;
  text-transform: uppercase;
  transition: color var(--transitionProps);
  z-index: 9;

  // &.black {
  //   color: var(--dark-blue);
  // }

  &.red {
    color: var(--red);
    // color: var(--white);
    // &:hover {
    //   color: var(--pink);
    // }
  }

  &.blue {
    color: var(--blue);
    // &:hover {
    //   color: var(--blue);
    // }
  }
}

/* phone */
@media screen and (max-width: 480px) {
  .button {
    right: 12px;
    line-height: 100%;
    bottom: 173px;
  }
}
