.header {
  position: fixed;
  z-index: 10;
  width: 100%;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--white);
  padding: 0 var(--headerPaddingSide);
  padding-top: var(--headerPaddingTop);
  &.partnersPage {
    color: var(--black);
    & .headerNav.opened {
      border-left: var(--greyBorder);
    }
  }
}

.foundationLogo {
  position: relative;
  z-index: 20;
  transition: fill var(--transitionProps);
  &:hover path {
    fill: var(--pink);
    transition: fill var(--transitionProps);
  }
  &.black {
    & path {
      fill: var(--black);
    }
  }
  &.small {
    max-width: 120px;
  }
}

.burgerButton {
  position: relative;
  z-index: 20;
  margin-left: 1rem;
  width: 33.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-self: center;
  gap: 6px;
  transition: transform var(--transitionProps);
  & span {
    display: block;
    height: 3.5px;
    background-color: var(--white);
    width: 100%;
    transition: background-color var(--transitionProps);
    &.black {
      background-color: var(--black);
    }
    &:last-of-type {
      max-width: 20px;
    }
  }
  &:hover {
    transform-origin: center;
    transition: transform var(--transitionProps);
    & span {
      background-color: var(--pink);
      transition: background-color var(--transitionProps);
    }
  }
  &.black {
    & span {
      display: block;
      height: 3.5px;
      background-color: var(--black);
      width: 100%;
      transition: background-color var(--transitionProps);
      &:last-of-type {
        max-width: 20px;
      }
    }
  }
}

.protezAcademy {
  line-height: 28px;
  padding: 16px 24px;
  text-transform: uppercase;
  background-color: transparent;
  transform-origin: center;
  transition: color var(--transitionProps), transform var(--transitionProps);
  &:hover {
    color: var(--pink);
    /* transform: scale(var(--textScale)); */
    transition: color var(--transitionProps), transform var(--transitionProps);
  }
  &.black {
    color: var(--black);
    &:hover {
      color: var(--pink);
    }
  }
  &.short {
    padding: 16px 0;
  }
}

@media screen and (min-width: 1366px) {
  .protezAcademy {
    font-size: calc(16px + 8 * ((100vw - 1366px) / 1194));
  }
}
@media screen and (min-width: 2560px) {
  .protezAcademy {
    font-size: 20px;
    line-height: 24px;
  }
}

/* --------- */

.headerNav {
  padding-top: 120px;
  position: fixed;
  z-index: 11;
  right: 0;
  top: 0;
  transform: translateX(100%);
  transition: transform 0.5s;
  max-width: 650px;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  padding-left: 5%;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &.opened {
    transform: none;
  }
}

.ancorList {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}
.navAncor {
  color: var(--black);
  font-weight: 400;
  transform-origin: center;
  transition: color var(--transitionProps), transform var(--transitionProps);
  &:hover {
    color: var(--pink);
    /* transform: scale(var(--textScale)); */
    transition: color var(--transitionProps), transform var(--transitionProps);
  }
  &.underlined {
    text-decoration: underline;
  }
}

.menuText {
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: rgba(13, 17, 37, 0.4);
}

.headerDivider {
  max-width: 360px;
}

.headerActionLang {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  min-height: 55px;
}
/* .becomeAVolunteer {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
} */

/* .changeLanguageButton {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  gap: 1rem;
} */

.socialMediaLinksFixed {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: fit-content;
  max-width: var(--navRightWidth);
  right: var(--paddingVW);
  top: 50%;
  transform: translateY(-50%);
  gap: 40px;
  z-index: 9;
}

.socialMediaLinksHeader {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  & .socialMediaIcon {
    max-width: 40px;
    max-height: 40px;
  }
}

.socialMediaLink {
  &:hover .socialMediaIcon rect {
    transition: fill var(--transitionProps);
    fill: var(--pink);
  }
}

.socialMediaIcon {
  transition: fill var(--transitionProps);
}

/* desktop */
@media screen and (max-width: 1920px) {
  .foundationLogo {
    max-width: 290px;
  }
  .socialMediaLinksFixed {
    gap: 24px;
  }
  .socialMediaIcon {
    width: 56px;
    height: 56px;
  }
}

/* beforeTablet */
@media screen and (max-width: 1366px) {
  .socialMediaIcon {
    width: 48px;
    height: 48px;
  }
}

/* phone */
@media screen and (max-width: 480px) {
  .foundationLogo {
    max-width: 116px;
  }
  .burgerButton {
    max-width: 24px;
  }
}
