.meetOurTeam {
  padding-top: 100px;
  padding-bottom: 100px;

  background-color: var(--light-grey);

  display: flex;
  flex-direction: column;
  gap: 60px;
}

.row {
  display: flex;
  gap: 20px;
  & .teamCard {
    border: none;
  }

  &:nth-child(1) {
    justify-content: flex-end;
    & .teamCard {
      max-width: 360px;
    }
  }
  &:nth-child(2) {
    justify-content: center;
    & .teamCard {
      max-width: 300px;
    }
  }
  &:nth-child(3) {
    justify-content: flex-end;
    & .teamCard {
      max-width: 300px;
    }
  }
}

.teamCard {
}

.titleCell {
  display: flex;
  align-items: center;
}

.teachersLogo {
  max-width: 100%;
  max-height: 100%;
}

.discoverAllButton {
  height: fit-content;
  justify-content: space-between;
  width: 240px;
  padding: 24px 16px 24px 24px;
  align-items: flex-end;
  & .buttonText {
    max-width: 109px;
  }
}

//

.memberCard {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  color: var(--black);
}

.memberImage {
  object-fit: cover;
  flex-grow: 1;
  flex-shrink: 0;
  height: 100%;
  max-height: 360px;
}

.memberPlaceholder {
  max-width: 32px;
  height: 32px;
}

.memberName {
  font-weight: 700;
  margin-top: 20px;
}

.memberPosition {
  margin-top: 10px;
}

.memberLinksList {
  margin-top: 32px;
  display: flex;
  min-height: 33px;
  justify-content: flex-start;
  gap: 8px;
  & a svg {
    width: 32px;
    height: 32px;
  }
}

/* @media screen and (max-width: 1920px) {
} */
/* beforeTablet */
@media screen and (max-width: 1366px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 600px) {
  .memberCard {
    height: 100%;
  }

  .memberPosition {
    margin-top: auto;
  }
}
