.section:global(.section) {
  padding: 106px 0 64px 0;
  background-color: var(--white);
  color: var(--white);
  min-height: auto;
  position: relative;
}

.logo {
  margin: 0 auto;
  max-width: 714px;
}

.slickSlider {
  margin-top: 104px;
}

.slickSlider :global(.slick-dots) {
  position: static;
  margin-top: 56px;
}

.slickSlider :global(.slick-dots li.slick-active button:before) {
  color: var(--pink);
}

.slickSlider :global(.slick-dots li button:before) {
  color: var(--dark-blue);
  opacity: 1;
}

@media screen and (max-width: 1920px) {
  .section:global(.section) {
    padding: 106px 0 40px 0;
  }
}
/* beforeTablet */
@media screen and (max-width: 1366px) {
  .section:global(.section) {
    padding: 64px 0 24px 0;
  }
  .logo {
    max-width: 332px;
  }
  .slickSlider {
    margin-top: 64px;
  }
}
/* tablet */
@media screen and (max-width: 1180px) {
}
/* phone */
@media screen and (max-width: 480px) {
  .container {
    max-width: 340px;
    min-height: 476px;
  }
}
