.section {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.9)
  );
  background-blend-mode: normal, screen;
  padding-bottom: 80px;
  padding-left: 0;
  padding-top: 245px;
  padding-bottom: 221px;
  padding-right: calc(64px + var(--headerPaddingSide));
  min-height: 100vh;
  /* height: calc(100vh - 24px); */
  padding-left: var(--headerPaddingSide);
}

.logo:global(.svgTextBlock) {
  max-width: 1256px;
  margin: 0 auto;
}

.title {
  font-weight: 400;
  color: var(--black);
  margin: 0 auto;
  margin-top: 64px;
  width: fit-content;
  text-align: center;
  &.monthlyPayment {
    margin-top: 0;
    color: var(--pink);
  }
}

.block {
  display: block;
}

.support {
  margin: 0 auto;
  color: var(--black);
  margin-top: 64px;
  max-width: 990px;
  text-align: center;
}

.pink {
  color: var(--pink);
  font-weight: bold;
}

@media screen and (min-width: 1366px) {
  .title {
    font-size: calc(24px + 24 * ((100vw - 1366px) / 1194));
    line-height: calc(28px + 26 * ((100vw - 1366px) / 1194));
  }
}
@media screen and (max-width: 1366px) {
  .title {
    font-size: 24px;
    line-height: 28px;
  }
}
@media screen and (min-width: 2560px) {
  .title {
    font-size: 48px;
    line-height: 56px;
  }
}

.flexContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  margin-top: 144px;
}

/* --------- */

.companyData {
  flex: 1 1 50%;
  color: var(--black);
  max-width: 400px;
  padding-top: 40px;
}

.addressContainer {
  width: 100%;
  & p {
    padding-right: 90px;
    & span {
      display: block;
      line-height: 32px;
    }
  }
}

.divider {
  margin: 40px 0;
}

.sendChecks {
  display: block;
  font-weight: 600;
  font-size: 28px;
  line-height: 40px;
  margin-bottom: 16px;
}

.emailLink {
  display: block;
  color: var(--pink);
  text-decoration: underline;
  margin-top: 40px;
}

/* -------- */

.form {
  flex: 1 1 50%;
}

@media screen and (max-width: 1920px) {
  .section {
    padding-top: 178px;
    padding-bottom: 114px;
  }

  .logo:global(.svgTextBlock) {
    max-width: 1066px;
  }

  .title {
    margin-top: 24px;
  }

  .support {
    margin-top: 24px;
    max-width: 560px;
    font-size: 18px;
  }

  .flexContainer {
    margin-top: 48px;
  }

  .divider {
    margin: 32px 0;
  }

  .sendChecks {
    font-size: 24px;
    margin-bottom: 8px;
  }

  .emailLink {
    display: block;
    color: var(--pink);
    text-decoration: underline;
    margin-top: 32px;
  }
}
/* beforeTablet */
@media screen and (max-width: 1366px) {
  .section {
    padding-top: 128px;
    padding-bottom: 28px;
  }

  .logo:global(.svgTextBlock) {
    max-width: 500px;
  }

  .title {
    margin-top: 16px;
    font-size: 16px;
  }

  .support {
    max-width: 540px;
  }

  .flexContainer {
    margin-top: 24px;
  }

  .companyData {
    max-width: 288px;
    & p {
      padding-right: 40px;
    }
  }

  .divider {
    margin: 24px 0;
  }

  .sendChecks {
    font-size: 18px;
    line-height: 24px;
  }

  .emailLink {
    margin-top: 24px;
  }
}

/* tablet */
@media screen and (max-width: 1180px) {
  .section {
    padding-right: var(--headerPaddingSide);
  }
}

/* phone */
@media screen and (max-width: 500px) {
  .section {
    padding-top: 104px;
    /* min-height: 100vh; */
    /* height: 100%; */
    padding-bottom: 64px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .logo:global(.svgTextBlock) {
    max-width: 80%;
  }

  .title {
    margin-top: 24px;
    max-width: 95%;
  }

  .support {
    margin-top: 40px;
    max-width: 95%;
  }

  .flexContainer {
    margin-top: 40px;
    flex-direction: column-reverse;
    align-items: stretch;
    gap: 24px;
  }

  .form {
    flex: none;
    width: 100%;
    max-width: 100% !important;
  }

  .companyData {
    max-width: 100%;
    padding-top: 0;
  }
}
