.section:global(.section) {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.9)
  );
  background-blend-mode: normal, screen;
  padding-bottom: 80px;
}

.specialThanks {
  justify-content: center;
  align-items: center;
}

.partnerCard {
  border: 1px solid rgba(13, 17, 37, 0.24);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5rem;
  &:global(.textContainer) {
    height: 100%;
  }
}

.partnerLogo {
  max-width: 100%;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 4.5fr 3.5fr 2.5fr 2.5fr;
}

.discoverCard {
  width: 100%;
  padding: 2.5rem;
  background-color: var(--black);
  display: flex;
  align-items: flex-end;
  height: fit-content;
  align-self: flex-end;
}

.container {
  & div {
    display: inline-flex;
  }
  & div:first-of-type {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  & div:nth-of-type(2) {
    grid-column-start: 4;
    grid-column-end: 5;
  }

  & div:nth-of-type(4) {
    grid-column-start: 3;
    grid-column-end: 4;
  }
  & div:nth-of-type(5) {
    border-top: none;
    border-bottom: none;
    border-left: none;
  }
  & div:nth-of-type(6) {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  & div:nth-of-type(7) {
    grid-column-start: 4;
    grid-column-end: 5;
  }
}

.membersContainer {
}

@media screen and (max-width: 850px) {
  .container {
    grid-template-rows: 4.5fr repeat(4, 3.5fr);
    & div {
      display: inline-flex;
    }
    & div:first-of-type {
      grid-column-start: 1;
      grid-column-end: 5;
      align-items: flex-end;
    }
    & div:nth-of-type(2) {
      grid-column-start: 3;
      grid-column-end: 5;
    }
    & div:nth-of-type(3) {
      grid-column-start: 1;
      grid-column-end: 5;
      order: 1;
    }

    & div:nth-of-type(4) {
      grid-column-start: 1;
      grid-column-end: 3;
    }
    & div:nth-of-type(5) {
      grid-column-start: 3;
      grid-column-end: 5;
    }
    & div:nth-of-type(6) {
      grid-column-start: 1;
      grid-column-end: 3;
      border-top: none;
      border-right: none;
    }
    & div:nth-of-type(7) {
      grid-column-start: 3;
      grid-column-end: 5;
    }
    & div:nth-of-type(8) {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }
}
