.academyGoals {
  padding-top: 120px;
  padding-bottom: 120px;
}
.academyGoalsContent {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 400px));
  grid-template-rows: repeat(2, minmax(400px, 1fr));
  grid-template-areas:
    'link . title skills'
    '. instructors specialists .';
}

.linkCell {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  grid-area: link;
}
.link {
  max-width: 240px;
  padding: 24px 16px 24px 24px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: var(--blue);

  color: var(--white);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.titleCell {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-left: 32px;
  grid-area: title;
}

.title {
  max-width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  width: 100%;
  height: 100%;
  padding: 32px;
  font-size: 18px;
  line-height: 26px;
  transition: all var(--transitionProps);

  border-right: var(--greyBorder);
  border-top: var(--greyBorder);
  border-bottom: var(--greyBorder);

  & .icon {
    width: 48px;
    height: 48px;
  }

  &:hover {
    background-color: var(--blue);
    color: var(--white);
  }
  &:nth-of-type(3) {
    grid-area: skills;
    border-left: var(--greyBorder);
  }

  &:nth-child(4) {
    grid-area: specialists;
  }

  &:nth-child(5) {
    grid-area: instructors;
    border-left: var(--greyBorder);
  }
}

@media (max-width: 1500px) {
  .academyGoals {
    padding-bottom: 80px;
  }
  .academyGoalsContent {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 400px));
    grid-template-areas:
      'link title skills'
      'instructors specialists .';
  }

  .linkCell {
    justify-content: flex-start;
  }
}

@media (max-width: 1150px) {
  .academyGoals {
    padding-bottom: 60px;
  }
  .academyGoalsContent {
    display: grid;
    grid-template-columns: 24fr 34fr 32fr;
    grid-template-rows: 40fr 30fr 30fr;
    grid-template-areas:
      '. title skills'
      '. instructors .'
      'link . specialists';
  }

  .linkCell {
    justify-content: center;
    align-items: flex-start;
  }
  .link {
    max-width: 100%;
    width: 100%;
  }
  .card {
    &:nth-child(4) {
      border-left: var(--greyBorder);
    }
  }
}

/* Adjustments for screens smaller than 576px */
@media (max-width: 950px) {
  .academyGoals {
    padding-top: 40px;
    padding-bottom: 20px;
  }
  .academyGoalsContent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 126fr 244fr 250fr 72fr;
    grid-template-areas:
      'title title'
      'skills skills'
      'instructors specialists'
      'instructors link';
  }

  .linkCell {
    grid-area: link;
  }
  .link {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;

    & p {
      max-width: 120px;
    }
  }

  .titleCell {
    align-items: flex-end;
    justify-content: flex-start;
    padding-left: 0;
  }

  .card {
    padding: 24px;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;

    & .icon {
      width: 40px;
      height: 40px;
    }

    &:nth-of-type(3) {
      border-bottom: none;
    }

    &:nth-child(4) {
      border-left: none;
    }

    &:nth-child(5) {
      border-left: var(--greyBorder);
    }
  }
}
