.container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  pointer-events: none;
}

.bg {
  position: absolute;
  left: 0;
  top: 0;
  background: url() center center no-repeat;
  background-size: cover;
}

.smoke,
.smokeBg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("/smokeBackground/smoke-bg-2.png");
  z-index: 0;
  background-size: cover;
}

.smokeBg {
  background-image: url("/smokeBackground/smoke-bg.png");
  z-index: -1;
}

.smoke {
  animation: float2 15s infinite ease-in-out;
}

.smokeBg {
  animation: float alternate 30s infinite ease-in-out;
}

@keyframes float {
  0% {
    opacity: 0.8;
    transform: translateX(3%) scale(1.2);
  }
  50% {
    opacity: 0.8;
    transform: translateX(0) scale(1.4);
  }
  100% {
    opacity: 0.8;
    transform: translateX(-3%) scale(1.2);
  }
}
@keyframes float2 {
  0% {
    opacity: 0;
    transform: translateX(-10%) scale(1.5);
  }
  50% {
    opacity: 1;
    transform: translateX(0) scale(1.2);
  }
  100% {
    opacity: 0;
    transform: translateX(10%) scale(1.5);
  }
}
