.title{
  color: var(--white);
}
.normal{
  font-family: "Outfit", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 132px;
  line-height: 94px;
}

.italic {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 132px;
  line-height: 94px;
/* or 71% */


}