.title{
  color: var(--white);
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 1016px;
  text-align: right;
  justify-content: center;
  
}
.normal{
  font-family: "Outfit", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 132px;
  line-height: 94px;
}

.italic {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 132px;
  line-height: 94px;
}

