.academyResultCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  border: var(--greyBorder);
  transition: all var(--transitionProps);

  .count {
    color: var(--blue);
    font-size: 52px;
    line-height: 50px;
    font-weight: 800;
    transition: all var(--transitionProps);
  }

  .desc {
    color: var(--dark-blue);
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    transition: all var(--transitionProps);
  }

  &:hover {
    background-color: var(--blue);
    & .count {
      color: var(--white);
    }

    .desc {
      color: var(--white);
    }
  }
}

@media (min-width: 768px) {
  .academyResultCard {
    padding: 48px 40px 40px 40px;

    .count {
      font-size: 90px;
      line-height: 76px;
    }

    .desc {
      font-size: 18px;
      line-height: 26px;
    }
  }
}
