.specialThanksToAllOurPartners {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 368px 300px 300px;
  padding-top: 40px;
  margin-bottom: 120px;

  & > * {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 24px;
  }
}

.borderBottom {
  border-bottom: var(--greyBorder);
}

.borderTop {
  border-top: var(--greyBorder);
}

.borderRight {
  border-right: var(--greyBorder);
}

.borderLeft {
  border-left: var(--greyBorder);
}

.title {
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 3px;
  padding-bottom: 0;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 5;
}

.grid1x1 {
  justify-content: flex-end;
  align-items: flex-end;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  padding: 0;
}

.grid1x5 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 5;
  grid-column-end: 6;
  border: var(--greyBorder);
}
