.academyResults {
  padding-top: 60px;
  padding-bottom: 20px;

  .resultsContent {
    .leftPart {
      font-weight: 500;
      margin-bottom: 40px;

      .sectionTitle {
        margin-bottom: 10px;

        svg {
          max-width: 80%;
          height: fit-content;
        }
      }

      .date,
      .desc {
        font-size: 16px;
        line-height: 22px;
      }

      .date {
        margin-bottom: 24px;
      }

      .desc {
        margin-bottom: 32px;
      }

      .arrowUpIcon {
        width: 24px;
        height: 24px;
      }

      .btnGroup {
        display: flex;
        flex-direction: column;
        gap: 16px;

        & > * {
          justify-content: center;
        }
      }
    }

    .rightPart {
      display: grid;
      grid-template-columns: 1fr 1fr;

      .leftWrapper,
      .rightWrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
      }

      .leftWrapper {
        padding-top: 80px;
      }

      .card {
        width: 100%;
        height: 160px;
      }
    }
  }
}

@media (min-width: 768px) {
  .academyResults {
    padding-top: 120px;
    padding-bottom: 60px;

    .resultsContent {
      .leftPart {
        margin-bottom: 80px;

        .resultsInfo {
          display: flex;
          align-items: flex-end;
          justify-content: space-between;
          gap: 4px;

          .infoWrapper {
            max-width: 380px;

            .date {
              margin-bottom: 40px;
            }

            .desc {
              margin-bottom: 0;
            }
          }

          .btnGroup {
            margin-bottom: 0;
          }
        }
      }

      .rightPart {
        grid-template-columns: 1fr;

        .card {
          height: 320px;
        }

        .leftWrapper {
          flex-direction: row;
          padding-top: 0;
          padding-right: 30%;
          margin-top: 0;
        }

        .rightWrapper {
          flex-direction: row;
          padding-left: 30%;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .academyResults {
    .resultsContent {
      .leftPart {
        .resultsInfo {
          .infoWrapper {
            max-width: 465px;
          }
        }
      }
    }
  }
}

@media (min-width: 1366px) {
  .academyResults {
    padding-top: 80px;
    padding-bottom: 120px;

    .resultsContent {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .leftPart {
        margin-bottom: 0;

        .resultsInfo {
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 0;

          .infoWrapper {
            margin-bottom: 60px;

            .date,
            .desc {
              font-size: 18px;
              line-height: 26px;
            }
          }

          .btnGroup {
            flex-direction: row;
          }
        }
      }

      .rightPart {
        width: 45%;
        grid-template-columns: 1fr 1fr;

        .card {
          height: 290px;
        }

        .leftWrapper,
        .rightWrapper {
          padding: 0;
          flex-direction: column;
        }

        .leftWrapper {
          padding-top: 80px;
        }
      }
    }
  }
}
