.academy {
  padding: 120px 0;
}

.title {
  margin: 0 auto 32px auto;
  max-width: 100%;
}

.sliderWrapper {
  position: relative;
}

.sliderNavigation {
  position: absolute;
  z-index: 2;
  display: flex;
  gap: 16px;
  top: 0;
}

.sliderButton {
  width: 48px;
  height: 48px;
  transition: all var(--transitionProps);
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:nth-child(1) {
    background-color: var(--white);
    border-color: #0d1125;
    &:hover {
      background-color: var(--blue);
      border-color: var(--blue);
      & .arrowLeft path {
        transition: all var(--transitionProps);
        fill: var(--white);
      }
    }
  }

  &:nth-child(2) {
    background-color: var(--blue);
    border-color: var(--blue);
    &:hover {
      background-color: var(--white);
      border-color: #0d1125;
      & .arrowRight path {
        transition: all var(--transitionProps);
        fill: #0d1125;
      }
    }
  }
}

.slickSlider {
  z-index: 1;
}

.slickSlider :global(.slick-track) {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 24px;
  height: 520px;
}

.cardWrapper {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 520px;

  &.leftEdgeSlide {
    justify-content: flex-end;
    & .card {
      margin-right: 0;
    }
  }

  &.rightEdgeSlide {
    justify-content: flex-start;
    & .card {
      margin-left: 0;
    }
  }
}

.card {
  margin: 0 auto;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: all var(--transitionProps);
  transform-origin: center;

  max-width: 72%;
  max-height: 62%;
}

.slickSlider :global(.slick-slide.slick-active.slick-center.slick-current) .card .image {
  transform: scale(1.55);
}

.image {
  transition: all 0.5s;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (max-width: 1366px) {
  .cardWrapper {
    width: 720px;
    margin: 0 auto;

    &.leftSlide {
      margin-right: 0;
      justify-content: flex-end;
      & .card {
        margin-right: 0;
      }
    }

    &.rightSlide {
      margin-left: 0;
      justify-content: flex-start;
      & .card {
        margin-left: 0;
      }
    }
  }

  .slickSlider :global(.slick-slide.slick-active.slick-center.slick-current) .card .image {
    transform: scale(1.35);
  }
}

@media (max-width: 1024px) {
  .academy {
    padding-bottom: 60px;
  }

  .sliderNavigation {
    position: static;

    margin: 40px auto 0 auto;
    width: fit-content;
  }

  .slickSlider :global(.slick-track) {
    height: 500px;
  }

  .cardWrapper {
    width: 680px;
    height: 500px;
  }
}

@media (max-width: 850px) {
  .slickSlider :global(.slick-track) {
    height: 300px;
  }
  .cardWrapper {
    width: fit-content;
    height: 300px;
  }

  .card {
    position: relative;
    max-width: 80%;
    max-height: 80%;
  }

  .image {
    width: fit-content;
    object-fit: contain;
  }

  .slickSlider :global(.slick-slide.slick-active.slick-center.slick-current) .card .image {
    transform: scale(1.5);
  }

  .slickSlider :global(.slick-track) {
    gap: 0;
  }
}

@media (max-width: 600px) {
  .academy {
    padding-top: 60px;
    padding-bottom: 20px;
  }

  .image {
    object-fit: cover;
  }

  .title {
    padding-right: 24px;
    padding-left: 24px;
  }

  .slickSlider :global(.slick-slide.slick-active.slick-center.slick-current) .card .image {
    transform: scale(1.35);
  }

  .slickSlider {
    & :global(.slick-dots) {
      border-radius: 4px;
      display: flex;
      padding-top: 32px;
      position: static;
    }
    & :global(.slick-dots li) {
      margin: 0;
      width: calc(100% / 8);
      height: 3px;
      background-color: var(--dark);
      opacity: 0.06;
    }

    & :global(.slick-dots li.slick-active) {
      border-radius: 4px;
      background-color: var(--blue);
      opacity: 1;
    }

    & :global(.slick-dots li button:before) {
      display: none;
    }

    & :global(.slick-dots li button) {
      width: 100%;
      height: 100%;
      padding: 0;
    }
  }
}
