.section {
  padding-top: 80px;
  padding-bottom: 140px;
  background-color: var(--light-grey);
}

.pageTitle {
  max-width: 608px;
  margin: 0 auto;
}

.container {
  margin-top: 80px;
  display: flex;
  gap: 60px;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.sliderButton {
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  transition: all var(--transitionProps);
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  background-color: transparent;
  border-color: var(--grey);
  &:hover {
    background-color: var(--red);
    border-color: var(--red);
    & .arrow path {
      fill: var(--white);
    }
  }
  .arrow {
    width: 20px;
    height: 20px;
  }
}

.sliderWrapper {
  flex: 0 1 1368px;

  max-width: calc(100% - 60px * 2 - 48px * 2);
}

.slickSlider {
  width: 100%;
}

.slickSlider :global(.slick-track) {
  height: 640px;
}

.cardWrapper {
  height: 640px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.card {
  border: 1px solid var(--grey);
  height: 100%;
  padding: 48px 60px 40px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 664px;
}

.image {
  flex-shrink: 0;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;

  object-fit: cover;
  width: 260px;
  height: 260px;
}

.cardText {
  margin-top: 48px;
  text-align: center;
  color: var(--black);

  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
}

.cardName {
  margin-top: 24px;
  color: var(--black);
}

.cardDescription {
  margin-top: 8px;
  color: var(--black);
}

.instagramLink {
  margin: auto auto 0 auto;
}

.instagramIcon {
  width: 32px;
  height: 32px;
}

@media (max-width: 1366px) {
  .container {
    gap: 20px;
  }

  .sliderWrapper {
    max-width: calc(100% - 20px * 2 - 48px * 2);
  }

  .card {
    padding: 24px 32px;
  }
}

@media (max-width: 800px) {
  .section {
    padding-top: 40px;
    padding-bottom: 40px;

    padding-left: 0;
    padding-right: 0;
  }

  .pageTitleContainer {
    padding: 0 var(--section-padding-horizontal);
  }

  .pageTitle {
    max-width: 100%;
    margin: 0 auto;
  }

  .container {
    margin-top: 32px;
  }

  .sliderWrapper {
    max-width: 100%;
  }

  .slickSlider :global(.slick-track) {
    height: 680px;
  }

  .cardWrapper {
    height: 680px;
    padding: 0 10px;
  }

  .card {
    padding: 24px;
  }

  .image {
    width: 268px;
    height: 268px;
  }

  .cardText {
    margin-top: 32px;

    overflow: hidden;
    -webkit-line-clamp: 9;
    line-clamp: 9;
  }

  .cardName {
    margin-top: 24px;
  }

  .slickSlider {
    & :global(.slick-dots) {
      border-radius: 4px;
      display: flex !important;
      padding-top: 32px;
      padding-right: var(--section-padding-horizontal);
      padding-left: var(--section-padding-horizontal);
      position: static;
    }
    & :global(.slick-dots li) {
      margin: 0;
      flex: 1 1 2%;
      height: 3px;
      background-color: var(--white);
      opacity: 0.06;
    }

    & :global(.slick-dots li.slick-active) {
      border-radius: 4px;
      background-color: var(--red);
      opacity: 1;
    }

    & :global(.slick-dots li button:before) {
      display: none;
    }

    & :global(.slick-dots li button) {
      width: 100%;
      height: 100%;
      padding: 0;
    }
  }
}
@media (max-width: 800px) {
  .cardWrapper {
    padding: 0 5px;
  }
}
