.section {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
  background-blend-mode: normal, screen;

  color: var(--dark-blue);
  min-height: auto;
  padding: 160px var(--headerPaddingSide);
  padding-bottom: 0;
  padding-top: 245px;
}

.logo:global(.svgTextBlock) {
  max-width: 1256px;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  display: flex;
  max-width: 1500px;
  gap: 62px;
  margin-top: 104px;
}

.iframeContainer {
  flex: 1 1 680px;
  display: flex;
  background-color: black;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
}

.iframe {
}

.leftSide {
  flex: 1 1 760px;
}

.veteranLogo {
  max-width: 475px;
}

.ageRank {
  text-transform: uppercase;
  font-size: 24px;
  padding-left: 40px;
  margin-top: 8px;
}

.cardTitle {
  margin-top: 40px;
  font-size: 32px;
}

.cardText {
  margin-top: 24px;
  font-size: 22px;
}

.socialMediaLinksBox {
  display: flex;
  gap: 32px;
  margin-top: 40px;
}
.icon {
  width: 56px;
  height: 56px;
  &:hover path {
    transition: path var(--transitionProps);
    fill: var(--pink);
  }
}

.donorBox {
  & svg:global(.svgTextBlock) {
    display: none;
  }
  padding-top: 0;
  & h1 {
    margin-top: 104px;
  }
}

@media screen and (max-width: 1920px) {
  /* --- */

  .logo:global(.svgTextBlock) {
    max-width: 1111px;
  }

  .container {
    max-width: 1347px;
    gap: 33px;
    margin-top: 96px;
  }

  .iframeContainer {
    flex-basis: 530px;
  }

  .leftSide {
    flex-basis: 760px;
  }

  .veteranLogo {
    max-width: 475px;
  }

  .donorBox {
    & h1 {
      margin-top: 96px;
    }
  }
}
/* beforeTablet */
@media screen and (max-width: 1366px) {
  .logo:global(.svgTextBlock) {
    max-width: 516px;
  }

  .container {
    max-width: 995px;
    gap: 41px;
    /* margin-top: 96px; */
  }

  .iframeContainer {
    flex: 1 1 385px;
  }

  .leftSide {
    flex: 1 1 570px;
  }

  .veteranLogo {
    max-width: 258px;
  }
  .ageRank {
    font-size: 18px;
  }

  .cardTitle {
    font-size: 24px;
  }

  .cardText {
    margin-top: 40px;
    font-size: 18px;
  }

  .socialMediaLinksBox {
    gap: 24px;
  }
  .icon {
    width: 40px;
    height: 40px;
  }

  .donorBox {
    & h1 {
      margin-top: 64px;
    }
    & h5 {
      text-align: left;
    }
  }
}

@media screen and (max-width: 850px) {
  .section {
    padding-top: 160px;
  }

  .container {
    flex-direction: column-reverse;
    gap: 32px;
    margin-top: 24px;
  }

  .iframeContainer {
    flex-basis: 100%;
  }

  .leftSide {
    height: fit-content;
  }

  .socialMediaLinksBox {
    gap: 24px;
    margin-top: 24px;
  }

  .donorBox {
    & h1 {
      margin-top: 80px;
      font-size: 24px;
    }
  }
}
/* phone */
@media screen and (max-width: 500px) {
  .logo:global(.svgTextBlock) {
    max-width: 80%;
  }
  .section {
    padding-top: 104px;
  }

  .iframeContainer {
    aspect-ratio: auto;
  }

  .ageRank {
    font-size: 18px;
  }

  .cardTitle {
    font-size: 24px;
  }

  .cardText {
    font-size: 18px;
  }
  .veteranLogo {
    max-width: 248px;
  }
}
