/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.divider {
  display: block;
  background-color: var(--pink);
}

.vertical {
  min-height: 100%;
  width: 1px;
}

.horizontal {
  height: 1px;
  width: 100%;
}
