.section:global(.section) {
  width: 100%;
  background-color: var(--pink);
  display: flex;
}
.block {
  display: flex;
  align-items: center;
  color: var(--white);
  gap: 40px;
}

.title {
  flex: 1 1 50%;
  & svg {
    width: 100%;
    height: 100%;
  }
}
.text {
  flex: 1 1 50%;
}
.colorModBlack {
  color: var(--dark-blue);
}

h2.ua {
  font-size: 32px;
  line-height: 45px;
}

/* beforeTablet */
@media screen and (max-width: 1366px) {
  h2.ua {
    font-size: 20px;
    line-height: 28px;
  }
}

/* tablet */
@media screen and (max-width: 750px) {
  .section:global(.section) {
    padding-bottom: 5rem;
  }
  .title {
    align-self: flex-start;
    max-width: 80%;
  }
  .block {
    flex-direction: column;
    margin-top: 60px;
  }
  .title,
  .text {
    flex-basis: 100%;
  }
}

/* phone */
@media screen and (max-width: 480px) {
  .section:global(.section) {
    display: block;
  }
}
