.video {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  left: 0;
  top: 0;
}

.filter {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(360deg, #0d1125 0%, rgba(13, 17, 37, 0) 40.45%),
    #0d112580;
  /* opacity: 0.5; */
}
