.colorContainer {
  min-height: auto;
  background-color: var(--pink);
  padding: 160px 0;
}

.container {
  margin: 0 auto;
  max-width: 1213px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
  & div:global(.textContainer) {
    width: 100%;
  }
}

.buttonsContainer {
  display: flex;
  gap: 34px;
  justify-content: center;
  white-space: nowrap;
  & .button {
    width: 312px;
  }
}

.copyright {
  width: 100%;
  background-color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyrightText {
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}

/* desktop */
@media screen and (max-width: 1920px) {
  .container {
    max-width: 1030px;
  }
}

/* beforeTablet */
@media screen and (max-width: 1366px) {
  .container {
    gap: 48px;
    max-width: 478px;
    padding: 64px 0;
  }
  .buttonsContainer {
    gap: 24px;
    & .button {
      width: 272px;
    }
  }
}

/* phobe */
@media screen and (max-width: 480px) {
  .container {
    justify-content: center;
    align-items: stretch;
    padding: 0 24px;
    & svg {
      width: 95%;
      margin: 0 auto;
    }
  }

  .buttonsContainer {
    flex-direction: column;
    & .button {
      width: 100%;
    }
  }
}
