.container {
  color: var(--white);
  position: fixed;
  z-index: 9;
  left: 0;
  width: 100%;
  bottom: calc(2 * var(--headerPaddingSide));
  max-width: calc(var(--navLeftWidth) + var(--headerPaddingSide));
  &.black {
    color: var(--dark-blue);
  }
}

.buttonsContainer {
  margin-top: 40px;
  padding-left: var(--headerPaddingSide);
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.amazonButton {
  display: flex;
  gap: 8px;
  align-items: flex-start;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}

.amazonButtonText {
  transform: translateY(-5px);
}

.thirdButton {
  visibility: hidden;
}

/* tablet */
@media screen and (max-width: 1180px) {
  .thirdButton {
    visibility: visible;
  }
  .container {
    max-width: 100%;
  }
  .buttonsContainer {
    margin-top: 1rem;
    gap: 1rem;
    padding-left: 0;
  }
}

@media screen and (max-width: 700px) {
  .container .divider {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .amazonButton {
    display: flex;
    gap: 8px;
    align-items: flex-start;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
  }

  .amazonButtonText {
    transform: translateY(3px);
  }
}
