.academyHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px var(--headerPaddingSide);
  background-image: linear-gradient(rgba(16, 16, 16, 1), rgba(16, 16, 16, 0));
  z-index: 20;
  font-family: "Nunito Sans", sans-serif;
}

.btnGroup {
  display: flex;
  align-items: center;

  .applyBtn {
    margin-right: 16px;
  }

  .languageWrapper {
    display: flex;
    align-items: center;
    margin: 0 32px;

    .worldIcon {
      width: 24px;
      height: 24px;
      margin-right: 8px;
    }

    .localeBtn {
      cursor: pointer;
      transition: color var(--transitionProps);

      &:last-child {
        padding-left: 10px;
        margin-left: 10px;
        border-left: 1px solid var(--white);
      }

      &:hover {
        color: var(--blue);
      }

      &:disabled,
      &[disabled] {
        pointer-events: none;
        opacity: 24%;
      }
    }
  }
}

.headerNav {
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 120px 40px 40px;
  padding-bottom: 0;
  z-index: 11;
  transform: translateX(100%);
  transition: transform 0.5s;
  max-width: 440px;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  color: var(--black);

  &.opened {
    transform: none;
  }
}
