.container {
  color: var(--white);
  position: fixed;
  z-index: 9;
  left: 0;
  bottom: var(--headerPaddingSide);
  max-width: calc(var(--navLeftWidth) + var(--headerPaddingSide));
  &.black {
    color: var(--dark);
  }
}

.addressContainer {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  width: 100%;

  & p {
    padding-left: var(--headerPaddingSide);
    & span {
      display: block;
      line-height: 32px;
    }
  }
}

.buttonsContainer {
  margin-top: 4.375rem;
  padding-left: var(--headerPaddingSide);
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}

.amazonButton {
  display: flex;
  gap: 8px;
  align-items: flex-start;

  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}

.amazonButtonText {
  transform: translateY(-5px);
}

/* phone */
@media screen and (max-width: 480px) {
  .buttonsContainer {
    margin-top: 1rem;
    gap: 1rem;
    padding-left: 0;
  }
}
