.academyGoals {
  padding-top: 120px;
  padding-bottom: 120px;
}

.container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 48px;
  gap: 24px;
}

.right {
  max-width: 583px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.description {
  font-weight: 700;
}

.button {
  width: fit-content;
  font-weight: 400;
}

.arrowUpIcon {
  width: 24px;
  height: 24px;
}

.left {
  max-width: 700px;
  width: 100%;
}

.image {
  width: 100%;
  height: auto;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 60px;
  width: 100%;
  height: 100%;
  min-height: 338px;
  padding: 32px;
  font-size: 18px;
  line-height: 26px;
  transition: all var(--transitionProps);
  border-left: var(--greyBorder);
  border-top: var(--greyBorder);
  border-bottom: var(--greyBorder);

  & .icon {
    width: 48px;
    height: 48px;
  }

  .cardContent {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .cardTitle {
    font-size: 20px;
    padding-bottom: 8px;
    font-weight: 700;
  }

  &:hover {
    background-color: var(--blue);
    color: var(--white);
  }
}

.sliderWrapper {
  position: relative;
}

.slider {
  :global(.slick-list) {
    overflow: hidden;
    border-right: var(--greyBorder);
  }

  :global(.slick-track) {
    display: flex;
  }

  :global(.slick-slide) {
    height: auto;

    > div {
      height: 100%;

      > div {
        height: 100%;
      }
    }
  }

  :global(.slick-dots) {
    display: none !important;
  }
}

@media (max-width: 1366px) {
  .slider {
    :global(.slick-dots) {
      display: flex !important;
      position: static;
      padding-top: 32px;
      margin: 0;
    }

    :global(.slick-dots li) {
      flex: 1;
      margin: 0;
      width: auto;
      height: 3px;
      background-color: var(--dark);
      opacity: 0.06;
    }

    :global(.slick-dots li.slick-active) {
      background-color: var(--blue);
      opacity: 1;
      border-radius: 4px;
    }

    :global(.slick-dots li button) {
      width: 100%;
      height: 100%;
      padding: 0;
    }

    :global(.slick-dots li button:before) {
      display: none;
    }
  }
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column-reverse;
  }

  .left {
    max-width: none;
  }

  .right {
    max-width: none;
  }

  .image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

@media (max-width: 800px) {
}
