.main {
  // background-color: var(--dark-blue);
  background-color: var(--black);
}

.fallback {
  background-color: var(--dark-blue);
  height: 100vh;
}

.flagsBlock {
  position: relative;
}

.americanFlag {
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 33%;
  max-width: 32%;
  height: auto;
}

.smokeBlock {
  position: relative;
}

.smokeTop {
  height: calc(100% - 100vh);
  top: auto;
  bottom: 0;
}

.videoBlock {
  position: relative;
}

.videoContainer {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  & .video {
    pointer-events: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }

  & .filter {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    // background: linear-gradient(360deg, #0d1125 0%, rgba(13, 17, 37, 0) 40.45%), #0d112580;
    background: linear-gradient(180deg, rgba(19, 19, 19, 0) 84.03%, #131313 98.09%);
  }

  & .overlay {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--black);
    opacity: 60%;
  }
}

/* tablet */
@media screen and (max-width: 1180px) {
  // .companyDataNonProfit {
  //   display: none;
  // }
}

/* phone */
@media screen and (max-width: 480px) {
  .americanFlag {
    max-width: 90%;
    top: 42%;
  }
}
