.container {
  color: var(--white);
  position: fixed;
  z-index: 9;
  left: var(--paddingVW);
  left: 0;
  bottom: var(--paddingVW);
  max-width: calc(var(--navLeftWidth) + var(--paddingVW));
}

.adressContainer {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  width: 100%;

  & p {
    padding-left: var(--paddingVW);
    & span {
      display: block;
      line-height: 32px;
    }
  }
  &.mobile {
    gap: 1rem;
    p {
      padding-left: 0;
    }
  }
}

.buttonsContainer {
  margin-top: 4.375rem;
  padding-left: var(--paddingVW);
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  &.mobile {
    margin-top: 1rem;
    gap: 1rem;
    padding-left: 0;
  }
}

.pinkButton {
  background-color: var(--pink);
  transform-origin: center;
  transition: transform var(--transitionProps);
  &:hover {
    transform: scale(var(--textScale));
    transition: transform var(--transitionProps);
  }
}

.transparentButton {
  background-color: transparent;
  border: 1px solid var(--white);
  transform-origin: center;
  transition: transform var(--transitionProps);
  &:hover {
    transform: scale(var(--textScale));
    transition: transform var(--transitionProps);
  }
}
